<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: #f5f5dc;
      font-weight: bold;
      font-family: "arial";;
    }
    a{
      text-decoration: none;
    }

    .btn-bar,.btn-bar-selected{
       width:48.3%;
      height:50px;
      font-weight: bold;
      font-size: 20px;
      border:0px;
      }
      .btn-bar{
        background-color:rgb(209, 149, 44);
        color:gray
      }
      .btn-bar-selected{
        background-color:#f5f5dc;
        color:black
      }
      .admin-register-form{
        margin-top: 100px;
        text-align: center;

      }
      .text-input-admin{
        width:78.8%;
        height: 50px;
        margin-top: 20px;
        font-size: 20px;
        border-radius: 19px;
        border:0px;
        background-color: aliceblue;
      }
    .btn-save{
        width:78.9%;
        height: 50px;
       margin-top: 40px;
       font-size: 20px;
       border:0px;
       border-radius:19px;
       background-color: #c59543;
       color:aliceblue
    }
  

  .btn-src{
    width:15%;
    height: 50px;
    border: 0px;
    font-size:20px;
  }


  .first-admin-bar{
    margin-top:9px ;
  }

  .admin-btn-bar,.admin-btn-bar-selected{
    width:24%;
    height:50px;
    font-size:20px;
    border:0px
  }
  .admin-btn-bar{
    background-color: #c59543;
    color:black;

  }
  .admin-btn-bar-selected{
    background-color: aliceblue;
    color:black
  }


  </style> 
</head>
<body>
 <% if (page=='register-admin-page') { %>
  <div class="bar">
    <a href="/admin-register">
      <button class="btn-bar-selected">daftar admin</button>
    </a>
    <a href="/admin-login">
   <button class="btn-bar">login admin</button>
    </a>
  </div>
  <form action="/create-admin-data" method="post" class="admin-register-form">
    <input type="text" name="admin_email" placeholder="email" class="text-input-admin"><br>
    <input type="password" name="admin_password" placeholder="password" class="text-input-admin"><br>
    <button class="btn-save">daftarkan</button>
  </form>
<% } else if (page=='register-admin-error') { %>
  <div class="bar">
    <a href="/admin-register">
      <button class="btn-bar-selected">daftar admin</button>
    </a>
    <a href="/admin-login">
   <button class="btn-bar">login admin</button>
    </a>
  </div>
  <form action="/create-admin-data" method="post" class="admin-register-form">
    <h1 style="color:red"><%= error_messeage%></h1>
    <input type="text" name="admin_email" placeholder="email" class="text-input-admin"><br>
    <input type="password" name="admin_password" placeholder="password" class="text-input-admin"><br>
    <button class="btn-save">daftarkan</button>
  </form>
  
  
 <% }else if(page=='admin-login-page'){%>
<div>
  <a href="/admin-register">
    <button class="btn-bar">daftar admin</button>
  </a>
  <a href="/admin-login">
    <button class="btn-bar-selected">login admin</button>
  </a>
</div>
<form action="/return-to-password" method="post" class="admin-register-form">
  
  <input type="text" name="admin_email_input" placeholder="email" class="text-input-admin"><br>
  <button class="btn-save">lanjut</button>
</form>
 <%}else if(page=='login-username-error'){ %>
  <div>
    <a href="/admin-register">
      <button class="btn-bar">daftar admin</button>
    </a>
    <a href="/admin-login">
      <button class="btn-bar-selected">login admin</button>
    </a>
  </div>
  <form action="/return-to-password" method="post" class="admin-register-form">
    <h1 style="color:red"><%=error_messeage%></h1>
    <input type="text" name="admin_email_input" placeholder="email" class="text-input-admin"><br>
    <button class="btn-save">lanjut</button>
  </form>
  <%}else if(page=='password-admin-page'){%>
  <div style="text-align: center;">
    <a href="/admin-login">
      <h1><%=admin_data.username%></h1>
    </a>
  </div>
  <form action="/admin-password-check" method="post" class="admin-register-form">
    <input type="hidden" name="admin_email" value="<%=admin_data.email%>">
    <input type="password" name="admin_password" placeholder="password" class="text-input-admin"><br>
    <button class="btn-save">masuk</button>
  </form>
  <%}else if(page=='password-error'){%>
    <div style="text-align: center;">
      <a href="/admin-login">
        <h1><%=admin_data.username%></h1>
      </a>
    </div>
    <form action="/admin-password-check" method="post" class="admin-register-form">
      <h1 style="color:red"><%=error_message%></h1>
      <input type="hidden" name="admin_email" value="<%=admin_data.email%>">
      <input type="password" name="admin_password" placeholder="password" class="text-input-admin"><br>
      <button class="btn-save">masuk</button>
    </form>

  <%}else if(page=='admin-page'){%>
    <form action="/search-activity" method="post" class="search-form">
      <input type="hidden" name="admin_email" value="<%=admin.email%>">
      <input type="text" name="search_input" value="<%=search_input%>" placeholder="cari" class="text-input-admin">
      <button class="btn-src">cari</button>
    </form>
   <div class="first-admin-bar">
    <a href="/admin-setting/<%=admin.email%>">
      <button class="admin-btn-bar"><%=admin.username%></button>
    </a>
    <a href="/first-admin-page/<%=admin.email%>">
      <button class="admin-btn-bar-selected">activity</button>
    </a>
    <a href="/show-account-list/<%=admin.email%>">
      <button class="admin-btn-bar">account</button>
    </a>
    <a href="/show-qoutes-list/<%=admin.email%>">
     <button class="admin-btn-bar">qoutes</button>      
    </a>
   </div>
   <div class="body-navigator">
  
  

   </div>
    


  <%}%>

</body>
</html>