<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: "arial";
    }
    *{
      font-size: 20px
    }

    a {
      text-decoration: none;
    }

    .search-form {
      width: 92.9%;
      height: 45px;
      margin-bottom: 12px;
      border-radius: 19px;
      background-color: aliceblue;
      text-align: center;
    }

    .search-text {
      width: 80.8%;
      height: 55px;
      border-radius: 19px;
      border: 0px;
      font-size: 25p    m
      
    }

    .btn-search {
      width: 12%;
      height: 45px;
      border: 0px;
    }
    .btn-chat-new{
      width:50%;
      height: 45px;
      background-color: orange;
      color:#504327;
      border: 0px;
      border-radius:19px;
      font-weight: bold;
      font-size: 19px;
      margin-top: 9px;
    }
    .search-text,
    .btn-search {
      background-color: aliceblue;
      color: black;
      font-weight: bold;
    }

    .btn-bar,
    .btn-bar-selected {
      width: 23.2%;
      height: 50px;
      border: 0px;
      overflow-x: auto;
      font-weight: bold;
    }

    .btn-bar {
      background-color: #E1C16E;
      color: black
    }

    .btn-bar-selected {
      background-color: #f5f5dc;
      color: black
    }

    .user-card {
      background-color: lightyellow;
      text-align: left;
      border-radius: 19px;
    }

    .btn-chat,.btn-share {
      width: 43.9%;
      height: 40px;
      font-weight: bold;
      border: 0px;
      border-radius: 19px;
      margin-left: 19px;
      background-color: orange;
      color: blue;
      margin-bottom: 7px;

    }
    .chat-body-navigator{
     display: flex;

    }
    .chat-body-navigator>div{
       width:540px;
       height: 500px;
       overflow-y: auto;
       margin-left:19px;
       scrollbar-width:none;
    }
    .btn-chat-bar{
      width:48.6%;
      height:50px;
      font-size: 20px;
      border:0px
    }
    .btn-bar,.btn-chat-bar{
      overflow-x: auto;
    }
    .chat-body{
      height:500px;
      width:100%;
      overflow-y: auto;
      background-color: lightyellow;

    }
    .user-card,.reciepent-card{
        height:100px;
        width:100%;
        overflow-y: auto;
        margin-top: 17px;
        border-radius: 19px;
        scrollbar-width:none;
    }
    .user-card{
      background-color: lightgreen;
      color:blue;
      text-align: left;
    }
    .reciepent-card{
      background-color: orange;
      color:aliceblue;
      text-align: right;
    }
    .chat-user,.chat-others{
        height:67px;
        width:100%;
        scrollbar-width: none;
        overflow-y: auto;
        border-radius: 19px;
        margin-top:19px;
    }
    .chat-user{
      text-align:left;
      background-color: lightgreen;
      color:blue
    }
    .chat-others{
      background-color: orange;
      color:aliceblue;
      text-align: right;
    }
    .qoutes-body{
      height: 200px;
      overflow-y: auto;
      text-align: center;
    }
   @media screen and (max-width: 600px) {
    .chat-body-navigator{
     display: block;
     height: 500px;

    }
    .chat-body-navigator>div{
       width:98.1%;
       height: 250px;
       margin-left:0px;
       overflow-y: auto;
       margin-left:0px;
       scrollbar-width:none;
    }
    .user-card{
      margin-left: 0px;
    }
   }

  </style>
</head>

<body>
  <% if (page=='chat-list-open' ) { %>
  <form action="/search-friends" method="post" class="search-form">
    <input type="hidden" value="<%=user.email%>" name="user_email" />
    <input type="text" value="<%=search_text%>" class="search-text" name="search_input" placeholder="cari siapa" />
    <button class="btn-search">cari</button>
  </form>
  <div class="chat-body-navigator">
    <div>
    <% pelanggan.forEach(user_data => { %>
    <div class="user-card">
      <h2><%=user_data.user%></h2>
      <a href="/get-new-chat/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-chat">mulai obrolan</button>
      </a>
    </div>
    <% }) %> 
    </div>
    <div>
    <%langganan.forEach(user_data => { %>
    <div class="user-card" style='background-color: #fffffb;'>
      <h2><%=user_data.user%></h2>
      <a href="/get-new-chat/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-chat">mulai obrolan</button>
      </a>
    </div>
    <% }) %>
  </div>
  </div>
  <div style="text-align:right;margin-top: 9px;">
  <a href="/get-chat-list/<%=user.email%>">
    <button class="btn-chat" style="background-color: #E1C16E;margin-top: 20px;height: 50px;">kembali</button>
  </a>
  </div>
  <%}else if(page=='chat-new-page'){%>
<div>
  <a href="/get-chat-open/<%=user.email%>">
   <button class="btn-chat-bar" style="background-color:lightgreen;color:black"><%=user.username%></button>
  </a>
  <a href="/open-navigation/<%=user.email%>/<%=reciepent.email%>">
   <button class="btn-chat-bar"style='background-color:orange;color:aliceblue'><%=reciepent.username%></button>
  </a>
</div>
<div class="chat-body">
  
</div>
<form action="/create-new-chat" method="post" class="search-form">
 <input type="hidden" value="<%=user.email%>" name="user_email">
 <input type="hidden" value="<%=reciepent.email%>" name="reciepent_email">
 <input type="text" name="chat_text" placeholder="mulailah obrolan dengan <%=reciepent.username%>" class="search-text">
 <button class="btn-search">kirim</button>
</form>
 <%}else if(page=='chat-list'){%>
  <form action="/search-chat-list" method="post" class="search-form">
    <input type="hidden" value="<%=user.email%>" name="user_email" />
    <input type="text" value="<%=search_text%>" class="search-text" name="search_input" placeholder="cari siapa" />
    <button class="btn-search">cari</button>
  </form>
  <div>
    <a href="/first-page/<%=user.email%>">
      <button class="btn-bar">kemabali</button>
    </a>
    <a href="/get-chat-list/<%=user.email%>">
      <button class="btn-bar-selected">semua</button>
    </a>
    <a href="/chat-send-list/<%=user.email%>">
      <button class="btn-bar">kirim</button>
    </a>
    <a href="/chat-accept-list/<%=user.email%>">
      <button class="btn-bar">masuk</button>
    </a>
  </div>
  <div class="chat-body-navigator">
    <div>
    <% chat.send.forEach(data=> { %>
     <% if (data.information.type=='chat-text') { %>
      <div class="user-card">
        <h3><%=data.reciepent.name%></h3>
 ;;       <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>">
          <p><%=data.chat.chat_value%></p>
        </a>
       </div>
  
     <% }else{ %>
      <div class="user-card" style="background-color: greenyellow;">
        <h3><%=data.reciepent.name%></h3>
        <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id%>">
          <p style="color:darkkhaki">share qoutes</p>
        </a>
       </div>
    <%}%>

    <% }) %>
    </div>
 
   <div>
    <% chat.accept.forEach(data=> { %>
      <% if (data.information.type=='chat-text') { %>
        <div class="reciepent-card">
          <h3><%=data.user.name%></h3>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>">
            <p><%=data.chat.chat_value%></p>
          </a>
         </div>
    
       <% }else{ %>
        <div class="reciepent-card" style="background-color:gray;">
          <h3><%=data.user.name%></h3>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id%>">
            <p style="color:aqua">share qoutes</p>
          </a>
         </div>
      <%}%>

     <% }) %>
        </div>
  </div>
  <div style="text-align: center;">
  <a href="/get-chat-open/<%=user.email%>">
    <button class="btn-chat-new">mulai obrolan baru</button>
  </a>
  </div>
  <%}else if(page=='chat-send-list'){%>
    <form action="/search-chat-send" method="post" class="search-form">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input" placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
    <div>
      <a href="/first-page/<%=user.email%>">
        <button class="btn-bar">kemabali</button>
      </a>
      <a href="/get-chat-list/<%=user.email%>">
        <button class="btn-bar">semua</button>
      </a>
      <a href="/chat-send-list/<%=user.email%>">
        <button class="btn-bar-selected">kirim</button>
      </a>
      <a href="/chat-accept-list/<%=user.email%>">
        <button class="btn-bar">masuk</button>
      </a>
    </div>
    <div class="body-navigator">
    <% chat.forEach(data=> { %>
      <% if (data.information.type=='chat-text') { %>
        <div class="user-card">
          <h3><%=data.reciepent.name%></h3>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>">
            <p><%=data.chat.chat_value%></p>
          </a>
         </div>
    
       <% }else{ %>
        <div class="user-card" style="background-color: greenyellow;">
          <h3><%=data.reciepent.name%></h3>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id%>">
            <p style="color:darkkhaki">share qoutes</p>
          </a>
         </div>
      <%}%>
     <% }) %>
    </div>
  <%}else if(page=='chat-accept-list'){%>
    <form action="/search-chat-accept" method="post" class="search-form">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input" placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
    <div>
      <a href="/first-page/<%=user.email%>">
        <button class="btn-bar">kemabali</button>
      </a>
      <a href="/get-chat-list/<%=user.email%>">
        <button class="btn-bar">semua</button>
      </a>
      <a href="/chat-send-list/<%=user.email%>">
        <button class="btn-bar">kirim</button>
      </a>
      <a href="/chat-accept-list/<%=user.email%>">
        <button class="btn-bar-selected">masuk</button>
      </a>
    </div>
    <div class="body-navigator">
      <% chat_accept.forEach(data=> { %>
        <% if (data.information.type=='chat-text') { %>
          <div class="reciepent-card">
            <h3><%=data.reciepent.name%></h3>
            <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>">
              <p><%=data.chat.chat_value%></p>
            </a>
           </div>
      
         <% }else{ %>
          <div class="reciepent-card" style="background-color:gray;">
            <h3><%=data.reciepent.name%></h3>
            <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id%>">
              <p style="color:aqua">share qoutes</p>
            </a>
           </div>
        <%}%>


       <% }) %>

    </div>

    <%}else if(page=='chat-open'){%>
   <div>
    <a href="/delete-chat/<%=user.email%>/<%=chat.chat.room%>">
      <button class="btn-bar" style="background-color: aliceblue;color:red">hapus</button>
     </a>
    <a href="/chat-send-list/<%=user.email%>">
      <button class="btn-bar" style="background-color:lightgreen;color:black"><%=user.username%></button>
    </a>
     <a href="/open-navigation/<%=user.email%>/<%=reciepent.email%>">
      <button class="btn-chat-bar"style='background-color:orange;color:aliceblue'><%=reciepent.username%></button>
     </a>
   </div>
   <div class="chat-body">
 <% if (chat.user.address==user.email) { %>
  <div class="chat-user">
    <h3><%=chat.chat.chat_value%></h3>
  </div>
 <% }else{ %>
  <div class="chat-others">
    <h3><%=chat.chat.chat_value%></h3>
  </div>

  <%}%>
  <% chat_list.forEach(chat => { %>
    <% if (user.email==chat.email) { %>
     <div class="chat-user">
       <h3><%=chat.value %></h3>
     </div>
 
    <% }else{ %>
    <div class="chat-others">
     <h3><%=chat.value %></h3>
    </div>
 
     <%}%>
 
 
   <% }) %>
 
  
  </div>
  <form action="/send-chat" method="post" class="search-form">
    <input type="hidden" value="<%=user.email%>" name="user_email">
    <input type="hidden" value="<%=chat.chat.room%>" name="room">
    <input type="text" name="chat_text" placeholder="isi chat" class="search-text">
    <button class="btn-search">kirim</button>
   </form>
     
    <%}%>
     
</body>

</html>