<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: "arial";
    }
    *{
      font-size: 20px
    }

    a {
      text-decoration: none;
    }
.chat-bar{
   display: flex;
   width: 100%;
  }
    .search-form {
      width: 82.9%;
      height: 55px;
      margin-top: 40px;
      margin-left: 20px;
      margin-bottom: 12px;
      border-radius: 19px;
      background-color: aliceblue;
      text-align: center;
    }

    .search-text {
      width: 80.8%;
      height: 55px;
      border-radius: 19px;
      border: 0px;
      font-size: 25p    m
      
    }
    .username-field {
      border-radius: 100px;
      width: 100px;
      height: 100px;
      margin-top: 12px;
      border: 0px;
      font-size: 50px;

    }
    .btn-search {
      width: 12%;
      height: 45px;
      border: 0px;
    }
    .btn-chat-new{
      width:50%;
      height: 45px;
      background-color: orange;
      color:#504327;
      border: 0px;
      border-radius:19px;
      font-weight: bold;
      font-size: 19px;
      margin-top: 9px;
    }
    .search-text,
    .btn-search {
      background-color: aliceblue;
      color: black;
      font-weight: bold;
    }

    .btn-bar,
    .btn-bar-selected {
      width:25.1%;
      height: 50px;
      margin-top: 40px;
      border: 0px;
      overflow-x: auto;
      font-weight: bold;
    }

    .btn-bar {
      background-color: orange;
      color:aliceblue
    }

    .btn-bar-selected {
      background-color: #f5f5dc;
      color: black
    }

    .user-card {
      background-color: lightyellow;
      text-align: left;
      border-radius: 19px;
    }

    .btn-chat,.btn-share {
      width: 24.9%;
      height: 40px;
      font-weight: bold;
      border: 0px;
      border-radius: 19px;
      margin-left: 19px;
      background-color: orange;
      color: blue;
      margin-bottom: 7px;

    }
    .chat-body-navigator{
     display: flex;
     margin-left:100px;


    }
    .chat-body-navigator>div{
       width:450px;
       height: 500px;
       overflow-y: auto;
      
       scrollbar-width:none;
    }
    .btn-chat-bar{
      width:48.6%;
      height:50px;
      font-size: 20px;
      border:0px
    }
    .btn-bar,.btn-chat-bar{
      overflow-x: auto;
    }
    .chat-body{
      height:500px;
      width:100%;
      overflow-y: auto;
      background-color: lightyellow;

    }
    .user-card,.reciepent-card{
        height:120px;
        width:91.2%;
        margin-top: 17px;
        border-radius: 19px;
        scrollbar-width:none;
        margin-left: 12px;
    }
    .user-card{
      background-color: lightgreen;
      color:orange;
      text-align: left;
    }
    .reciepent-card{
      background-color: orange;
      color:aliceblue;
      text-align: right;
    }
    .chat-user,.chat-others{
        height:67px;
        width:100%;
        scrollbar-width: none;
        overflow-y: auto;
        border-radius: 19px;
        margin-top:19px;
    }
    .chat-user{
      text-align:left;
      background-color: lightgreen;
      color:blue
    }
    .chat-others{
      background-color: orange;
      color:aliceblue;
      text-align: right;
    }
    .qoutes-body{
      height: 200px;
      overflow-y: auto;
      text-align: center;
    }
   @media screen and (max-width: 600px) {
    .chat-body-navigator{
     display: block;
     height: 500px;
     width:100%;
     margin-left:0px;


    }
    .chat-body-navigator>div{
       width:100%;
       height: 250px;
       overflow-y: auto;
       scrollbar-width:none;
       margin-left: 0px;
    }
   

.chat-bar{
   display:flex;
   width: 100%;
  }
    .search-form {
      width:90.9%;
      height: 55px;
      margin-top: 10px;
      margin-left:1px;
      margin-bottom: 12px;
      border-radius: 19px;
      background-color: aliceblue;
      text-align: center;
    }

    .search-text {
      width: 76.8%;
      height: 55px;
      border-radius: 19px;
      border: 0px;
      font-size:25px;
      color:orange;
      
    }
    .username-field {
      border-radius: 100px;
      width: 50px;
      height: 50px;
      margin-top: 12px;
      border: 0px;
      font-size: 30px;

    }
    .btn-search {
      width: 13%;
      height: 45px;
      border: 0px;
      font-size: 20px;
      color:orange
    }
   

   }

  </style>
</head>

<body>
  <% if (page=='chat-list-open' ) { %>
  <div class="chat-bar">
    <div>
      <a href="/get-chat-list/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-friends" method="post" class="search-form">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input" placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
  <div class="chat-body-navigator">
    <div>
    <% pelanggan.forEach(user_data => { %>
    <div class="user-card">
    <button class="username-field" style="width:70px;height: 70px;font-size: 30px;margin-left: 12px;"><%=user_data.user[0]%></button>
      <a href="/get-new-chat/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-chat">chat</button>
      </a>
      <a href="/get-new-call/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-chat">call</button>
      </a>
    </div>
    <% }) %> 
    </div>
    <div>
    <%langganan.forEach(user_data => { %>
    <div class="user-card" style='background-color: #fffffb;'>
      <button class="username-field" style="width:70px;height: 70px;font-size: 30px;margin-left: 12px;"><%=user_data.user[0]%></button>
      <a href="/get-new-chat/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-chat">chat</button>
      </a>
      <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
        <button class="btn-chat">call</button>
      </a>
    </div>
    <% }) %>
  </div>
  </div>
  <%}else if(page=='chat-new-page'){%>
<div style="display: flex;width:100%">
  <div style="width:50%">
<a href="/get-chat-list/<%=user.email %>">
    <button class="btn-bar" style="width:50px;height:50px;background-color:#f5f5dc;color:orange"><<</button>
  </a>
 

</div>
<div style="width:50%;text-align: right;">
<button class="btn-bar" style="text-align: right;background-color:#F5F5DC;color:orange;font-size: 25px;"><%=reciepent.username %></button>
<a href="/open-navigation/<%=user.email %>/<%=reciepent.email %>">
  <button class="username-field" style="background-color:<%=reciepent.style.bgcolor%>;color:<%=reciepent.style.color%>">
    <%=reciepent.username[0] %>
  </button>
</a>
</div>


</div>

<div class="chat-body">
  
</div>
<form action="/create-new-chat" method="post" class="search-form">
 <input type="hidden" value="<%=user.email%>" name="user_email">
 <input type="hidden" value="<%=reciepent.email%>" name="reciepent_email">
 <input type="text" name="chat_text" placeholder="mulailah obrolan dengan <%=reciepent.username%>" class="search-text">
 <button class="btn-search">send</button>
</form>
 <%}else if(page=='chat-list'){%>
 <div class="chat-bar" style="display: flex;">
    <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-friends" method="post" class="search-form" style="200px">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input"
      style="width:80.2%"
      placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
  <div style="text-align: center;">
  <a href="/get-chat-open/<%=user.email%>">
    <button class="btn-chat-new">mulai obrolan baru</button>
  </a>
  </div>
  <div class="chat-body-navigator">
    <div>
    <% chat.send.forEach(data=> { %>
     <% if (data.information.type=='chat-text') { %>
      <div class="user-card" style="background-color:lawngreen;">
        <button class="username-field" style="width:70px;height: 70px;"><%=data.reciepent.name[0]%></button>
        <a href="/open-chat/<%=user.email %>/<%=data.chat.room%>" style="color:black;margin-left: 20px;"><%=data.chat.chat_value %></a>
       </div>
  
     <% }else{ %>
      <div class="user-card" style="background-color:lawngreen;">
        <button class="username-field" style="width:70px;height: 70px;"><%=data.reciepent.name[0]%></button>
        <a href="/open-chat/<%=user.email %>/<%=data.chat.room%>/<%=data.chat.qoutes_id %>" style="color:black;margin-left: 20px;">komentar atas qoutes</a>
       </div>
    <%}%>

    <% }) %>
    </div>
 
   <div>
    <% chat.accept.forEach(data=> { %>
      <% if (data.information.type=='chat-text') { %>
        <div class="reciepent-card">
           <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue;margin-right: 12px;">
          <%=data.chat.chat_value %>
          </a>
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
         
         </div>
    
       <% }else{ %>
        <div class="reciepent-card">
           <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id%>" style="color:aliceblue;margin-right: 12px;">
            share qoutes
          </a>
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.user.name[0] %>
          </button>
         </div>
      <%}%>

     <% }) %>
        </div>
  </div>
  <div style="text-align: center;">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="btn-bar-selected">chat</button>
    </a>
    <a href="/chat-send-list/<%=user.email %>">
      <button class="btn-bar">kirim</button>
    </a>
    <a href="/chat-accept-list/<%=user.email %>">
      <button class="btn-bar">masuk</button>
    </a>
  </div>
  <%}else if(page=='chat-send-list'){%>
    <div class="chat-bar" style="display: flex;">
    <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-chat-send" method="post" class="search-form">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input"
      style="width:80.2%"
      placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
    <div class="chat-body">
    <% chat.forEach(data=> { %>
      <% if (data.information.type=='chat-text') { %>
         <div class="user-card">
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue">
            <%=data.chat.chat_value %>
          </a>
         </div>
       <% }else{ %>
         <div class="user-card">
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id %>" style="color:aliceblue">
          qoutes koment
          </a>
         </div>
      <%}%>
     <% }) %>
    </div>
    <div style="text-align: center;">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="btn-bar">chat</button>
    </a>
    <a href="/chat-send-list/<%=user.email %>">
      <button class="btn-bar-selected">kirim</button>
    </a>
    <a href="/chat-accept-list/<%=user.email %>">
      <button class="btn-bar">masuk</button>
    </a>
  </div>
  <%}else if(page=='chat-accept-list'){%>
    <div class="chat-bar" style="display: flex;">
    <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-chat-accept" method="post" class="search-form" >
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input"
      style="width:80.2%"
      placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
    <div class="chat-body">
      <% chat_accept.forEach(data=> { %>
        <% if (data.information.type=='chat-text') { %>
          <div class="reciepent-card">
           <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue;margin-right: 12px;">
            <%=data.chat.chat_value %>
          </a>

          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          
         </div>
      
         <% }else{ %>
          <div class="reciepent-card">
            <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id %>" style="color:aliceblue;margin-right: 12px;">
            qoutes koment
          </a>
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          
         </div>
        <%}%>


       <% }) %>

    </div>
     <div style="text-align: center;">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="btn-bar">chat</button>
    </a>
    <a href="/chat-send-list/<%=user.email %>">
      <button class="btn-bar">kirim</button>
    </a>
    <a href="/chat-accept-list/<%=user.email %>">
      <button class="btn-bar-selected">masuk</button>
    </a>
  </div>

    <%}else if(page=='chat-open'){%>
   <div style="display: flex;width:100%">
  <div style="width:50%">
<a href="/get-chat-list/<%=user.email %>">
  <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>">
    <%=user.username[0] %>
  </button>
</a>
<button class="btn-bar" style="text-align: left;background-color:#F5F5DC;color:lightgreen;font-size:25px;">
  <%=user.username %>
</button>
</div>
<div style="width:50%;text-align: right;">
<button class="btn-bar" style="text-align: right;background-color: #F5F5DC;color:orange;font-size: 25px;"><%=reciepent.username%></button>
<a href="/open-navigation/<%=user.email %>/<%=reciepent.email %>">
  <button class="username-field" style="background-color:<%=reciepent.style.bgcolor%>;color:<%=reciepent.style.color%>">
    <%=reciepent.username[0] %>
  </button>
</a>
</div>

</div>
   <div class="chat-body">
 <% if (chat.user.address==user.email) { %>
  <div class="chat-user">
    <h3><%=chat.chat.chat_value%></h3>
  </div>
 <% }else{ %>
  <div class="chat-others">
    <h3><%=chat.chat.chat_value%></h3>
  </div>

  <%}%>
  <% chat_list.forEach(chat => { %>
    <% if (user.email==chat.email) { %>
     <div class="chat-user">
       <h3><%=chat.value %></h3>
     </div>
 
    <% }else{ %>
    <div class="chat-others">
     <h3><%=chat.value %></h3>
    </div>
 
     <%}%>
 
 
   <% }) %>
 
  
  </div>
  <form action="/send-chat" method="post" class="search-form">
    <input type="hidden" value="<%=user.email%>" name="user_email">
    <input type="hidden" value="<%=chat.chat.room%>" name="room">
    <input type="text" name="chat_text" placeholder="isi chat" class="search-text">
    <button class="btn-search">kirim</button>
   </form>
     <a href="/delete-chat/<%=user.email %>/<%=chat.chat.room %>">
      <p style="color:red">hapus</p>
     </a>
    <%}%>
     
</body>

</html>