<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: "arial";
    }
    *{
      font-size: 20px
    }

    a {
      text-decoration: none;
    }
.chat-bar{
   display: flex;
   width: 100%;
  }

    .search-form {
      width: 82.9%;
      height: 55px;
      margin-top: 40px;
      margin-left: 20px;
      margin-bottom: 12px;
      border-radius: 19px;
      background-color: aliceblue;
      text-align: center;
    }

    .search-text {
      width: 80.8%;
      height: 55px;
      border-radius: 19px;
      border: 0px;
      font-size: 25p    m
      
    }
    .username-field {
      border-radius: 100px;
      width: 100px;
      height: 100px;
      margin-top: 12px;
      border: 0px;
      font-size: 50px;

    }
    .btn-search {
      width: 12%;
      height: 45px;
      border: 0px;
    }
    .btn-chat-new{
      width:45.2%;
      height: 45px;
      background-color: orange;
      color:#504327;
      border: 0px;
      border-radius:19px;
      font-weight: bold;
      font-size: 19px;
      margin-top: 9px;
    }
    .search-text,
    .btn-search {
      background-color: aliceblue;
      color: black;
      font-weight: bold;
    }

    .chat-body-navigator{
     margin-left: 20px;
       display: grid;
      grid-template-columns: repeat(3, 1fr);
       gap: 20px; /* jarak antar kotak */
    }
.chat-body-navigator>div{
     width:300px;
      overflow-y: auto;
      height: 300px;
      border-radius: 12px;
      background-color:rgb(226, 201, 162);
      color:rgb(90, 83, 70);
      text-align: center;
      margin-top: 19px;
      scrollbar-width:none;

}
.btn-chat,.btn-call{
    width:100px;
    height:50px;
    border: 0px;
    border-radius: 20px;
    margin-left: 19px;

}
.btn-chat{
  background-color: aliceblue;
  color:orange;
}
.btn-call{
  background-color: lightgreen;
  color:green
}
.chat-body-bar{
  display: flex;
  width: 100%;

}
.chat-body-bar>div{
  width:45.5%;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;

}

.user-bar{
  background-color: aquamarine;
  color: green;
  text-align: left;
}
.user-bar>span{
 margin-left: 20px;
 font-size: 20px;
 color:green;
}
.reciepent-bar{
  background-color: #d4d4a6;
  color:orange;
  text-align: right;
}
.reciepent-bar>span{
 margin-left: 20px;
 font-size: 20px;
 color:goldenrod;
}
.chat-user,.chat-others{
  width:78.8%;
  height: auto;
  margin-top: 20px;
  margin-left: 12px;
  text-align: left;


}

.chat-user{
  background-color: lightgreen;
  color:green;
}
.chat-user>hr{
  border-top: 1px solid green;
}
.chat-user>h3{
  margin-left: 20px;
}
.chat-others{
  background-color: orange;
  color:brown;
  
}
.chat-user>h3{
  margin-left: 20px;
}
.chat-body{
  width:100%;
  height:450px;
  overflow-y: auto;
}
   @media screen and (max-width: 600px) {
    .chat-bar{
      display:block;
    }
    .username-field{
      margin-left:40.2%;
      width:90px;
      height: 90px;
      font-size: 20px;
    }
.search-form{
  margin-left: 12px;
  background-color: aliceblue;
  text-align: left;
  display: flex;
  width:97.1%;


}

    .search-text {
      width:250px;
      height: 55px;
      border-radius: 20px;
      font-size: 20px;
      color:orange;
      background-color: aliceblue;
      margin-left:12px;
      
    }
    .search-form>button{
      width:32.2%;
      height: 55px;
    }
   
.chat-body-navigator{
  display: block;
  height: 100%;
  overflow-y: auto;

}
.chat-body-navigator>div{
  width: 97.9%;
  
  
}
hr{
  color: orange;
  font-weight:bold;
}
.chat-body-navigator>div>hr{
   color: aliceblue;
  
}
.chat-body-bar{
  width:89.9%;
  height: 100%;
}
.user-bar,.reciepent-bar{
  margin-left: 0px;
}
#user-btn{
  margin-left:0px;
  width:70px;
  height: 70px;

}
.user-bar>span,.reciepent-bar>span{
  display: none;
}

   .chat-user,.chat-others{
  width:78.8%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;


}

#user-chat{
  margin-left: 10px;
}


   }
  </style>
</head>

<body>
  <% if (page=='chat-list-open' ) { %>
  <div class="chat-bar">
    <div>
      <a href="/get-chat-list/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
      <h2 class="name-user"><%=user.name %></h2>
    </div>
    <hr/>
    <form action="/search-friends" method="post" class="search-form">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input" placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
  <div class="chat-body-navigator">
    <% pelanggan.forEach(user_data => { %>
    <div class="user-card">
     <div style="margin-bottom: 50px;">
      <button class="username-field" style="width:70px;height: 70px;font-size: 30px;margin-left: 12px;"><%=user_data.user[0]%></button>
       <h2><%=user_data.user %></h2>
     </div>
     <hr/>
      <a href="/get-new-chat/<%=user.email%>/<%=user_data.email%>"> 
        <button class="btn-chat">chat</button>
      </a>
      <a href="/get-new-call/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-call">call</button>
      </a>
      
    </div>
    <% }) %> 
    <%langganan.forEach(user_data => { %>
    <div class="user-card">
      <div style="margin-bottom: 50px;" >
        <button class="username-field" style="width:70px;height: 70px;font-size: 30px;margin-left: 12px;"><%=user_data.user[0]%></button>
        <h2><%=user_data.user %></h2>
      </div>
      <a href="/get-new-chat/<%=user.email%>/<%=user_data.email%>">
        <button class="btn-chat">chat</button>
      </a>
      <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
        <button class="btn-call">call</button>
      </a>
    </div>
    <% }) %>
  </div>
  <%}else if(page=='chat-new-page'){%>
<div class="chat-body-bar">
  <div class="user-bar">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>" id="user-btn"><%=user.username[0] %></button>
    </a>
    <span>You</span>
  </div>
  <div class="reciepent-bar">

  <span><%=reciepent.username %></span>
 <button class="username-field"  style="background-color: <%=reciepent.style.bgcolor%>;color:<%=reciepent.style.color%>" id="user-btn">
  <%=reciepent.username[0] %>
 </button>
  </div>

</div>

<form action="/create-new-chat" method="post" class="search-form">
 <input type="hidden" value="<%=user.email%>" name="user_email">
 <input type="hidden" value="<%=reciepent.email%>" name="reciepent_email">
 <input type="text" name="chat_text" placeholder="mulailah obrolan dengan <%=reciepent.username%>" class="search-text">
 <button class="btn-search">kirim</button>
</form>
 <%}else if(page=='chat-list'){%>
 <div class="chat-bar" style="display: flex;">
    <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-chat-list" method="post" class="search-form" style="200px">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input"
      style="width:80.2%"
      placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
  <div style="text-align: center;">
    <a href="/create-new-group/<%=user.email %>">
      <button class="btn-chat-new" style="background-color: aqua;color:black">buat group</button>
    </a>
  <a href="/get-chat-open/<%=user.email%>">
    <button class="btn-chat-new">chat baru</button>
  </a>
  </div>
  <div class="chat-body-navigator">
    <% chat.send.forEach(data=> { %>
      <!--panggilan keluar-->
     <% if (data.chat.type=='chat-text') { %>
      <div class="user-card" style="background-color:lawngreen;text-align: left;">
        <div style="margin-bottom: 50px;">
          <button class="username-field" style="width:70px;height: 70px;margin-left: 12px;"><%=data.reciepent.name[0]%></button>
          <h3 style="color:green;font-weight: bold;font-size: 25px;"><%=data.reciepent.name %></h3>
        </div>
        <hr/>
        <a href="/open-chat/<%=user.email %>/<%=data.chat.room%>" style="color:black;margin-left: 20px;">
          <span style="color:green;font-size:25px;"><%=data.chat.chat_value %></span>
        </a>
       </div>
       <% } else if (data.chat.type=='call-record') { %>
        <div class="user-card" style="background-color: lawngreen;">
          <div style="margin-bottom: 50px;">
             <button class="username-field" style="width:70px;height: 70px;"><%=data.reciepent.name[0]%></button>
            <h3 style="color:green;font-size:25px;font-weight:bold;"><%=data.reciepent.name %></h3>
          </div>
          <a href="/open-chat/<%=user.email %>/<%=data.chat.room%>" style="color:black;margin-left: 20px;">
          <span style="color:green;font-size:25px;"><%=data.chat.chat_value %></span>
        </a>
       </div>
  
     <% }else{ %>
      <div class="user-card" style="background-color:lawngreen;">
        <div style="margin-bottom:50px">
          <button class="username-field" style="width:70px;height: 70px;"><%=data.reciepent.name[0]%></button>
           <h3 style="color:green;font-size:25px;font-weight:bold;"><%=data.reciepent.name %></h3>
        </div>
        <a href="/open-chat/<%=user.email %>/<%=data.chat.room%>/<%=data.chat.qoutes_id %>" style="color:black;margin-left: 20px;">komentar atas qoutes</a>
       </div>
    <%}%>

    <% }) %>
    <% chat.accept.forEach(data=> { %>
       <!--untuk panggilan masuk-->
      <% if (data.chat.type=='chat-text') { %>
        <div class="reciepent-card">
          <div style="margin-bottom: 50px;text-align: right;">
            <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.user.name[0]%>
          </button>
          <h3 style="color:rgb(230, 144, 16);font-size:25px;font-weight: bold;"><%=data.user.name%></h3>
          </div>
          <hr/>
      <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue;margin-right: 12px;">
          <h3 style="color:rgb(206, 118, 55);font-size: 25px;"><%=data.chat.chat_value %></h3>
          </a>    
         </div>
         <% } else if (data.chat.type=='call-record') { %>
           <div class="reciepent-card">
            <div style="margin-bottom: 50px;">
        
             <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.user.name[0]%>
          </button>
        <h3 style="color:rgb(230, 144, 16);font-size:25px;font-weight: bold;"><%=data.user.name%></h3>  
            </div>
           <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue;margin-right: 12px;">
              <span style="color:rgb(204, 195, 179);font-size: 25px;"><%=data.chat.chat_value %></span>
          </a>
         
         </div>
    
       <% }else{ %>
        <div class="reciepent-card">
          <div style="margin-bottom: 50px;">
            <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.user.name[0] %>
          </button>
           <button class="username-field" style="width:70px;height: 70px;" >
          
        </div>
           <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id%>" style="color:aliceblue;margin-right: 12px;">
             <span style="color:rgb(204, 195, 179);font-size: 25px;"><%=data.chat.chat_value %></span>
          </a>
          
         </div>
      <%}%>

     <% }) %>
  <%}else if(page=='chat-send-list'){%>
    <div class="chat-bar" style="display: flex;">
    <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-chat-send" method="post" class="search-form">
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input"
      style="width:80.2%"
      placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
    <div class="chat-body">
    <% chat.forEach(data=> { %>
      <% if (data.chat.type=='chat-text') { %>
         <div class="user-card">
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue">
            <%=data.chat.chat_value %>
          </a>
         </div>
       <% }else{ %>
         <div class="user-card">
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id %>" style="color:aliceblue">
          qoutes koment
          </a>
         </div>
      <%}%>
     <% }) %>
    </div>
    <div style="text-align: center;">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="btn-bar">chat</button>
    </a>
    <a href="/chat-send-list/<%=user.email %>">
      <button class="btn-bar-selected">kirim</button>
    </a>
    <a href="/chat-accept-list/<%=user.email %>">
      <button class="btn-bar">masuk</button>
    </a>
  </div>
  <%}else if(page=='chat-accept-list'){%>
    <div class="chat-bar" style="display: flex;">
    <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
      </a>
    </div>
    <form action="/search-chat-accept" method="post" class="search-form" >
      <input type="hidden" value="<%=user.email%>" name="user_email" />
      <input type="text" value="<%=search_text%>" class="search-text" name="search_input"
      style="width:80.2%"
      placeholder="cari siapa" />
      <button class="btn-search">cari</button>
    </form>
  </div>
    <div class="chat-body">
      <% chat_accept.forEach(data=> { %>
        <% if (data.chat.type=='chat-text') { %>
          <div class="reciepent-card">
           <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>" style="color:aliceblue;margin-right: 12px;">
            <%=data.chat.chat_value %>
          </a>

          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          
         </div>
      
         <% }else{ %>
          <div class="reciepent-card">
            <a href="/open-chat/<%=user.email%>/<%=data.chat.room%>/<%=data.chat.qoutes_id %>" style="color:aliceblue;margin-right: 12px;">
            qoutes koment
          </a>
          <button class="username-field" style="width:70px;height: 70px;" >
            <%=data.reciepent.name[0]%>
          </button>
          
         </div>
        <%}%>


       <% }) %>

    </div>
     <div style="text-align: center;">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="btn-bar">chat</button>
    </a>
    <a href="/chat-send-list/<%=user.email %>">
      <button class="btn-bar">kirim</button>
    </a>
    <a href="/chat-accept-list/<%=user.email %>">
      <button class="btn-bar-selected">masuk</button>
    </a>
  </div>

    <%}else if(page=='chat-open'){%>
<div class="chat-body-bar">
  <div class="user-bar">
    <a href="/get-chat-list/<%=user.email %>">
      <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>" id="user-btn"><%=user.username[0] %></button>
    </a>
    <span>You</span>
  </div>
  <div class="reciepent-bar">

  <span><%=reciepent.username %></span>
 <button class="username-field"  style="background-color: <%=reciepent.style.bgcolor%>;color:<%=reciepent.style.color%>" id="user-btn">
  <%=reciepent.username[0] %>
 </button>
  </div>

</div>   
   <div class="chat-body">
  <% chat.chat_list.forEach(chat => { %>
    <% if (user.email==chat.email) { %>
     <div class="chat-user">
      <button class="username-field" style="width:40px;height: 40px;font-size:20px;background-color:<%=user.style.bgcolor%>;color:<%=user.style.color%>" id="user-chat">
        <%=user.username[0] %>
      </button>
       <span>You</span>
       <hr/>
       <h3><%=chat.value %></h3>
     </div>
 
    <% }else{ %>
    <div class="chat-others">
     <button class="username-field" style="width:40px;height: 40px;font-size: 20px;  background-color: <%=reciepent.style.bgcolor%>;color:<%=reciepent.style.color%>" id="user-chat"><%=reciepent.username[0] %></button>
   <span><%=reciepent.username %></span>
  <hr/>
  <h3><%=chat.value %></h3>  
  </div>
 
     <%}%>
 
 
   <% }) %>
 
  
  </div>
  <form action="/send-chat" method="post" class="search-form">
    <input type="hidden" value="<%=user.email%>" name="user_email">
    <input type="hidden" value="<%=chat.chat.room%>" name="room">
    <input type="text" name="chat_text" placeholder="isi chat" class="search-text">
    <button class="btn-search">kirim</button>
   </form>
     <a href="/delete-chat/<%=user.email %>/<%=chat.chat.room %>">
      <p style="color:red">hapus</p>
     </a>
    <%}%>
     
</body>

</html>