<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style type="text/css">
    body {
      background-color: #F5F5DC;
      background-image:url('/images/leo-logo.jpg');
      font-weight: bold;
      font-family: 'arial';
    }

    .login-bar {
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    .btn-login-bar,
    .btn-login-selected {
      width: 47.5%;
      height: 45px;
      font-weight: bold;
      border: 0px;
      font-size: 20px;
    }

    .btn-login-bar {
      background-color: #E1C16E;
      color: aliceblue;
    }

    .btn-login-selected {
      background-color: #F5F5DC;
      color: black;
    }

    .login-form {
      margin-top: 120px;
      text-align: center;
    }

    .text-input {
      width: 56%;
      height: 50px;
      border: 0px;
      margin-top: 34px;
      border-radius: 20px;
      background-color: aliceblue;
      font-weight: bold;
      font-size: 20px;

    }
    .num-input{
      width:98%;
      height: 45px;
      border: 0px;
      background-color:lightyellow;
      color:orange;
      font-size: 20px

    }
    table{
      background-color: #f5f5dc;
      border: 3px;
      border-color: orange;
      margin-top: 12px;
    }
    th,td{
       width:23%;
       height: 45px;
       overflow-x: auto;
       text-align: center;
       color:orange;
       font-size: 20px;
    }
    .btn-login-form {
      width: 56.7%;
      height: 49px;
      margin-top: 25px;
      background-color: #E1C16E;
      border-radius: 20px;
      color: aliceblue;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <%if(page=='regist-form'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-bar">login</button>
    </a>
    <a href="/register-page">
      <button class="btn-login-selected">daftar</button>
    </a>
  </div>
  <form method="post" action="/create-account" class="login-form">
    <input type="text" name="email_input" placeholder='masukan email' class="text-input"><br>
    <input type="text" name="password_input" placeholder='masukan password' class="text-input"><br>
   <table>
    <tr>
      <th>ttg_lahir</th>
      <th>hobi</th>
    </tr>
    <tr>
      <td><input type="date" name="ttg_lahir" class="num-input"></td>
      <td><input type="text" name="hobby" class="num-input" placeholder="hobi"></td>
    </tr>
   </table>

    <button class="btn-login-form">daftarkan</button>
  </form>

  <%}else if(page=='error'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-bar">login</button>
    </a>
    <a href="/register-page">
      <button class="btn-login-selected">daftar</button>
    </a>
  </div>
  <h1 style='color:red'><%=error_messeage%></h1>
  <form method="post" action="/create-account" class="login-form">
    <input type="text" name="email_input" placeholder='masukan email' class="text-input"><br>
    <input type="text" name="password_input" placeholder='masukan password' class="text-input"><br>
    <input type="date" class="num-input-text" placeholder="tanggal lahir" name="ttg_lahir">
    <input type="text" class="num-input-text" placeholder="hobi" name="hobby_input"><br>
    <button class="btn-login-form">daftarkan</button>
  </form>


  <%}else if(page=='login-form'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-selected">login</button>
    </a>
    <a href="/register-page">
      <button class="btn-login-bar">daftar</button>
    </a>
  </div>
  <form method="post" action="/get-account" class="login-form">
    <input type="text" name="email_input" placeholder='masukan email.com' class="text-input"><br>
    <button class="btn-login-form">lanjut</button>
  </form>


  <%}else if(page=='login-error'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-selected">login</button>
    </a>
    <a href="/register-page">
      <button class="btn-login-bar">daftar</button>
    </a>
  </div>
  <a href="/register-page">
    <h1 style='color:red'><%=error_messeage%></h1>
  </a>

  <form method="post" action="/get-account" class="login-form">
    <input type="text" name="email_input" placeholder='masukan email.com' class="text-input"><br>
    <button class="btn-login-form">lanjut</button>
  </form>

  <%}else if(page=='password-page'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-selected"><%=email%></button>
    </a>
  </div>
  <form method="post" action="/password-check" class="login-form">
    <h1>password</h1>
    <input type="hidden" name="email_get" value='<%=email%>'>
    <input type="password" name="password_input" placeholder='masukan password' class="text-input"><br>
    <button class="btn-login-form">lanjut</button>
  </form>

  <%}else if(page=='pass-error'){%>
  <div class="login-bar">
    <a href="/login-page-open">
      <button class="btn-login-selected"><%=email%></button>
    </a>
  </div>
  <h1 style='color:red'><%=error_messeage%></h1>
  <form method="post" action="/password-check" class="login-form">
    <h1>password</h1>
    <input type="hidden" name="email_get" value='<%=email%>'>
    <input type="password" name="password_input" placeholder='masukan password' class="text-input"><br>
    <button class="btn-login-form">lanjut</button>
  </form>
  <%}%>

</body>
</html>