<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: 'arial';
      
      
    }

    a {
      text-decoration: none;
    }

.navigation-bar{
  width:100%;
  height: 100%;
  display: flex;
}


.username-field {
      border-radius:100px;
      width: 70px;
      height: 70px;
      margin-top: 12px;
      border: 0px;
      font-size: 50px;

    }
    .search-form {
      width: 81.9%;
      height: 49px;
      margin-bottom: 12px;
      border-radius: 19px;
      background-color: aliceblue;
      margin-top: 40px;
      margin-left: 12px;

    }

    .search-text {
      width: 72.8%;
      height: 45px;
      border-radius: 19px;
      border: 0px;
      font-size: 20px;
    }
    .search-btn{
      width:12.3%;
      height: 43px;
      border:0px;
      background-color: aliceblue;
      color:orange;
      border-radius: 20px;
      font-size: 20px;
    }

    .body-navigator {
      height:500px;
      width:100%;
     display: flex;
      text-align:left;
      overflow-x: auto;
    }
   .body-navigator>div{
    width:650px;
      height: 480px;
      overflow-y:auto;
      scrollbar-width:none;
     text-align: center;
     margin-left: 50px;
   }
   .qoutes-body-navigator{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* jarak antar kotak */
   }
  

    .qoutes-card {
      width:300px;
      overflow-y: auto;
      height: 300px;
      border-radius: 12px;
      background-color:rgb(195, 195, 171);
      color:orange;
      text-align: center;
      margin-top: 19px;
      scrollbar-width:none;
    }
   



    .btn-src {
      width: 12%;
      height: 45px;
      border: 0px;
      font-size: 20px;
    }

    .search-text,
    .btn-src {
      background-color: aliceblue;
      color: orange;
      font-weight: bold;
    }

    .btn-bar,
    .btn-bar-selected {
      width: 300px;
      height: 80px;
      border: 0px;
      overflow-x: auto;
      margin-top: 10px;
      font-size: 20px;
      color:rgb(243, 232, 211);
      font-weight: bold;
      border-radius:20px;
      margin-left: 12px;
    

    }

    .btn-bar {
      background-color:orange;
      color:rgb(229, 226, 219)

    }

    .btn-bar-selected {
      background-color: aliceblue;
      color:orange;
    }

    
    .user-body-navigator{
        text-align: center;
        display:block;


    }
    .user-body-navigator>div{
      width:950px;
      height: 190px;
      background-color:aliceblue;
      border-radius: 19px;
      color:orange;
   
    }
.user-card{
  width:98.9%;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  margin-left: 100px;
}
    
.user-card>.username-field,.btn-bar,.btn-visitor{
  margin-top:35px;
}

    .btn-visitor {
      width: 20.9%;
      height: 50px;
      font-weight: bold;
      border: 0px;
      border-radius: 19px;
      margin-left: 19px;
      background-color: orange;
      color: blue;
      margin-bottom: 7px;
      margin-left: 20%;

    }
 .btn-visitor-others {
      width: 43.9%;
      height: 40px;
      font-weight: bold;
      border: 0px;
      border-radius: 19px;
      margin-left: 7px;
      margin-bottom: 7px;
      margin-top: 12px;

    }
    .qoutes-share-card {
      height: 200px;
      overflow-y: auto;
      background-color: #e1c16e;
      color: orange;
      scrollbar-width:none;
    }
    @media screen and (max-width: 600px) {
      .qoutes-body-navigator{
        display: block;
    height: 500px;
    overflow-y: auto;
    width:100%
  }  
  .qoutes-card{
     width:100%;
     height: 400px;

  }
 
  .user-body-navigator{
        text-align: center;
        display:block;
        height: 510px;
        overflow-y: auto;


    }
    .user-body-navigator>div{
      width:100%;
      height: 100px;
      background-color:aliceblue;
      border-radius: 19px;
      color:orange;
      margin-left:0px;

   
    }
    .username-field {
        width: 90px;
        height: 90px;
      }
      .btn-bar,.btn-bar-selected{
        width:100px;
        height: 50px;
        margin-bottom: 10px;
      }
     
}

  </style>
</head>

<body>
 
    <%if (page=='qoutes-list') { %>
      <div class="navigation-bar">
     <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>">
          <%=user.username[0] %>
        </button>
      </a>
     </div>
     <form action="/search-qoutes-list" method="post" class="search-form">
      <input type="hidden" value="<%=user.email %>" name="user_email">
      <input type="text" class="search-text" name="search_input" placeholder="cari apa" value="<%=search_text %>">
      <button class="search-btn">cari</button>
     </form>
      </div>
      <a href="/product-navigation/<%=user.email %>">
        <button class="btn-bar-selected">qoutes</button>
      </a>
      
      <a href="/others-user/<%=user.email %>">
        <button class="btn-bar">orang</button>
      </a>
    <div class="qoutes-body-navigator">
      <% product_data.forEach(qoutes=> { %>
        <% if (qoutes.information.qoutes_type=="qoutes") { %>
          <div class="qoutes-card" style="background-color:<%=qoutes.information.bgcolor%>">
            <a href="/qoutes-open/<%=user.email%>/<%=qoutes.qoutes_id%>">
              <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>">
                <%=qoutes.qoutes_value%>
              </h1>
            </a>
          </div>
        <% }else if(qoutes.information.qoutes_type=="qoutes-coment-share") {%>
          <div class="qoutes-card" style="background-color:<%=qoutes.information.bgcolor%>;border-radius:0px">
            <a href="/qoutes-share-open/<%=user.email%>/<%=qoutes.qoutes_id%>">
              <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>">
                <%=qoutes.qoutes_value%>
              </h1>
            </a>
          </div>


        <%}%>





              <% }) %>

  <% study_data.forEach(data => { %>
   <div class="qoutes-card" style="background-color:aliceblue;border-radius:0px">
            <a href="/study-open/<%=user.email %>/<%=data.study_id %>">
              <h1 style="color:orange"><%=data.study_value %></h1>
            </a>
          </div>
  <% }) %>
      

    </div>
  
    <% }else if(page=='user-nav' ){%>
      <div class="navigation-bar">
     <div>
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>">
          <%=user.username[0] %>
        </button>
      </a>
     </div>
     <form action="/search-user-list" method="post" class="search-form">
      <input type="hidden" value="<%=user.email %>" name="user_email">
      <input type="text" class="search-text" name="search_input" placeholder="cari apa" value="<%=search_text%>">
      <button class="search-btn">cari</button>
     </form>
      </div>
      <a href="/product-navigation/<%=user.email %>">
        <button class="btn-bar">qoutes</button>
      </a>
      <a href="/others-user/<%=user.email %>">
        <button class="btn-bar-selected">orang</button>
      </a>
      <div class="user-body-navigator">
        <% user_data.forEach(data=> { %>
          <div class="user-card">
            
            <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
              <button class="username-field"
               style="width:70px;height:70px;font-size:25px;
               color:<%=data.style.color%>;background-color:<%=data.style.bgcolor%>;"><%=data.username[0] %></button>
            </a>
           <button class="btn-bar" style="background-color: aliceblue;color:orange"><%=data.username %></button>
            <a href="/get-new-chat/<%=user.email%>/<%=data.email%>">
              <button class="btn-visitor" style="background-color: rgb(239, 234, 205);">chat</button>
            </a>
          </div>
          <% }) %>
      </div>
      <%}else if(page=='market-navigation' ){%>
        <div class="navigation-bar" style="background-color: <%=user_data.style.color%>;">
          <div>
            <button class="username-field" style="background-color:<%=user_data.style.bgcolor%>;color:<%=user_data.style.color%>;
          width:70px;height:70px;font-size:20px">
            <%=user_data.username[0] %>
          </button><br>
          <p style="color:<%=user_data.style.bgcolor%>;margin-left: 12px;"><%=user_data.username %></p>
          </div>
       <div>
        <a href="/frieds-list/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-bar" style="background-color: antiquewhite;color:orange;
          margin-left:20px;"><%=user_data.langganan.length+user_data.pelanggan.length %> teman</button>
        </a>
          <% if (status=='langganan' ) { %>
            <a href="/delete-langganan-user/<%=user.email%>/<%=user_data.email%>">
              <button class="btn-bar" style="background-color: lightgrey;color:rgb(174, 51, 6)">tinggal</button>
            </a>
            <% }else if(status=='no-langganan' ){ %>
              <a href="/get-langganan/<%=user.email%>/<%=user_data.email%>">
                <button class="btn-bar" style="background-color: aliceblue;color:gray">kenal</button>
              </a>
    
              <%}%>
          <a href="/others-user/<%=user.email %>">
            <button  class="btn-bar">keluar</button>
          </a>
            </div>

        </div>
        <div class="qoutes-body-navigator" >
          <% market_qoutes.forEach(qoutes=> { %>
            <div class="qoutes-card" style="background-color: <%=qoutes.information.bgcolor%>">
              <a href="/qoutes-open/<%=user.email%>/<%=qoutes.qoutes_id%>">
                <h1 style="color:<%=qoutes.information.color%>">
                  <%=qoutes.qoutes_value%>
                </h1>
              </a>
            </div>
            <% }) %>

        </div>
       
<% } else if (page='others-friends-list') { %>
 <div class="navigation-bar" style="background-color:<%=others.style.color%>;">
  <div>
    <a href="/open-navigation/<%=user.email %>/<%=others.email %>">
      <button class="username-field" style="width:70px;height:70px;
      background-color: <%=others.style.bgcolor%>;color:<%=others.style.color%>;
      font-size:30px"><%=others.username[0] %></button>
    </a><br>
    <p style="margin-left: 12px;color:<%=others.style.bgcolor%>"><%=others.username %></p>
  </div>
  <div>                        
    <h2 style="margin-left: 12px;margin-top: 40px
      ;color:<%=others.style.bgcolor%>;">temannya ada <%=others.pelanggan.length +others.langganan.length%> </h2>
  </div>
 </div>
 <div class="qoutes-body-navigator">
  <% others.langganan.forEach(data => { %>
    <div class="qoutes-card">
        <a href="/get-new-chat/<%=user.email %>/<%=data.email%>">
          <button class="username-field" style="width:100px;height:100px;font-size: 30px;
          background-color:orange;color:aliceblue">
            <%=data.user[0] %>
          </button>
        </a><br>
        <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
          <button class="btn-visitor-others" style="background-color: lightyellow;margin-top: 20px;"><%=data.user %></button>
        </a>
      </div>
  <% }) %>
 
 <% others.pelanggan.forEach(data => { %>
    <div class="qoutes-card">
        <a href="/get-new-chat/<%=user.email %>/<%=data.email%>">
          <button class="username-field" style="width:100px;height:100px;font-size: 30px;
          background-color:orange;color:aliceblue">
            <%=data.user[0] %>
          </button>
        </a><br>
        <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
          <button class="btn-visitor-others" style="background-color: lightyellow;margin-top: 20px;"><%=data.user %></button>
        </a>
      </div>
  <% }) %>
 </div>

<%}%>
   
</body>

</html>