<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: 'arial';
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    .qoutes-information {
      width: 50%;
      height: 49px;
      border: 0px;
      background-color: #F5F5DC;
      color: blue;
      font-weight: bold;
    }

    .btn-username,
    .btn-update {
      width: 48.9%;
      border: 0px;
      border-radius: 19px;
      height: 49px;
      font-weight: bold;
      overflow-x: auto;
      background-color: #F5F5DC;
      overflow-x: auto;

    }
   .btn-username{
    color: yellowgreen;
   }
   .btn-update{
   color:orange
   }
  .bar-bellow{
    text-align:center;
    height: 50px;
    overflow-y: auto;
  }
  .qoutes-container{
    width:100%;
    height: 100%;
    display: flex;
  }
  .back-btn-open{
    width:100px;
    height: 100px;
    border-radius: 40px;
    border:12px;
    border-color: aliceblue;
    font-size: 20px;
    background-color: aliceblue;
    color:orange
  }
  
  .qoutes-container>div{
    justify-content: center;
    height: 500px;
    overflow-y: auto;

  }
.qoutes-sign{
   width:670px;
   height: 500px;
   overflow-y: auto;

}
.qoutes-information{
  text-align:left;
  scrollbar-width:none;
}
.qoutes-information>.back-btn-open{
  width:78px;
  height:78px;
}
.information-sign{
  width:100%;
  height: 200px;
   border:20px;
   text-align: left;
   margin-left: 20px;
   scrollbar-width:none;
}
.information-sign>h3,.information-sign>p{
  margin-left: 20px;
  font-size: 19px;
}
  .btn-update{
    width:100px;
    height: 50px;
    border:0px;
    background-color: aliceblue;
    color:orange;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 500px;
  }
  .coment-form{
    text-align: center;
  }
  .coment-form>input{
    width:300px;
    height: 45px;
    border:0px;
    background-color: aliceblue;
    color:orange;
    font-size: 20px;
  }
  .coment-form>button{
    width:78px;
    height:45px;
    border:0px;
    background-color: orange;
    color:aliceblue;
    font-size: 20px;
  }
  .coment-card{
    width:92%;
    height:100px;
    background-color: aliceblue;
    color:orange;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 20px;
    overflow-y: auto;
    margin-top: 12px;
    scrollbar-width:none;

  }
  @media screen and (max-width:600px){
  .qoutes-container{
    display: block;
    width:100%;
    height:550px;
    overflow-y: auto;
  } 
  .qoutes-container>div{
    width:100%;
    height:500px;
    overflow-y: auto;
  }
  .information-sign{
    width:100%;
    height: 200px;
    text-align: left;
    margin-left: 1px;
   overflow-y: none;
  }
  .coment-form>input{
    width:200px;
   
  }
  .btn-update{
    margin-left: 280px;
  }
  }
  </style>
</head>

<body>

  <% if (page=='qoutes-user-page') { %>
    <div style="background-color:<%=qoutes.information.bgcolor%>;text-align:left">
      <a href="/first-page/<%=user.email%>">
        <button class="back-btn-open" style='color: <%=qoutes.information.bgcolor%>;
        background-color:<%=qoutes.information.color%>;'>keluar</button>
      </a>
    </div>
    <div class="qoutes-container">
   <% if (qoutes.information.font_size<=14) { %>
      <textarea class="qoutes-sign"  style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>;
      font-family:<%=qoutes.information.font_family%>;font-size:<%=qoutes.information.font_size%>px" disabled>
        <%=qoutes.qoutes_value%>
      </textarea>
   <% }else{%>
    <div class="qoutes-sign" id="sign" style="background-color: <%=qoutes.information.bgcolor%>">
      <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>"><%=qoutes.qoutes_value%></h1>
    </div>
    <%}%>
      
      <div class="qoutes-information" id='qoutes-information'>
        <div class="information-sign" style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>;
        font-family:<%=qoutes.information.font_family%>">
          <h3>informasi</h3>
          <p>topik:<%=qoutes.information.type%></p>
          <p>target:<%=qoutes.information.market_share%></p>
          <p>tanggal:<%=qoutes.information.day%></p>
        </div>
       <div class="div-option">
        <a href="/qoutes-update-open/<%=qoutes.qoutes_id%>">
          <button class="btn-update">update</button>
         </a>
         <a href="/qoutes-delete/<%=qoutes.qoutes_id%>">
           <button class="btn-update" style="background-color:aliceblue;color:red">hapus</button>
         </a>
       </div>
        <h1 style="color:orange">komentar <%=coment_list.length %></h1>
        <form action="/post-coment" method="post" class="coment-form">
          <input type="hidden" value="<%=user.email%>" name="user_email">
          <input type="hidden" value="<%=qoutes.qoutes_id%>" name="qoutes_id">
          <input type="text" name="coment_input" class="text-coment" placeholder="tulis komnetarmu">
          <button class="btn-post-coment" type="submit">kirim</button>
        </form>
        <div class="coment-list" style="margin-top:60px;">
        <% coment_list.forEach(coment => { %>
         <div class="coment-card">
          <h3><%=coment.username%></h3>
          <p><%=coment.value%></p>
         </div>

        <% }) %>
        </div>
      </div>
    </div>
  <% }else if(page=='qoutes-open'){%>
    <div style="background-color:<%=qoutes.information.bgcolor%>;text-align:left">
      <a href="/product-navigation/<%=user.email%>">
        <button class="back-btn-open" style='color: <%=qoutes.information.bgcolor%>;
        background-color:<%=qoutes.information.color%>;'>keluar</button>
      </a>
    </div> 
  <div class="qoutes-container">
<% if (qoutes.information.font_size<=30) { %>
  <textarea class="qoutes-sign"  style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>;
    font-family:<%=qoutes.information.font_family%>;font-size:<%=qoutes.information.font_size%>px" disabled>
      <%=qoutes.qoutes_value%>
    </textarea>
<% }else { %>
  <div class="qoutes-sign" id="sign" style="background-color: <%=qoutes.information.bgcolor%>">
    <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>"><%=qoutes.qoutes_value%></h1>
  </div>
<%}%>
  <div class="qoutes-information">
    <div class="information-sign" style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>;
      font-family:<%=qoutes.information.font_family%>;height:230px">
        <h3>informasi</h3>
        <p>creator:<%=user_qoutes.username%></p>
        <p>topik:<%=qoutes.information.type%></p>
        <p>target:<%=qoutes.information.market_share%></p>
        <p>tanggal:<%=qoutes.information.day%></p>
      </div>
      <h2 style="color:orange">komentar: <%=coment_list.length  %></h3>
      <form action="/post-coment-data" method="post" class="coment-form" style="margin-top: 100px;">
        <input type="hidden" value="<%=user.email%>" name="user_email">
        <input type="hidden" value="<%=qoutes.qoutes_id%>" name="qoutes_id">
        <input type="text" name="coment_input" class="text-coment" placeholder="tulis komnetarmu">
        <button class="btn-post-coment" type="submit">kirim</button>
      </form>
      <div class="coment-list" style="margin-top:60px;">
        <% coment_list.forEach(coment => { %>
         <div class="coment-card">
          <h3><%=coment.username%></h3>
          <p><%=coment.value%></p>
         </div>

        <% }) %>
        </div>
  </div>
  </div>
 
<% }%>
 
    <script>
     
    </script>
</body>
</html>