<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: 'arial';
      text-align: center;
    }

    a {
      text-decoration: none;
    }
     .username-field {
      border-radius: 100px;
      width: 100px;
      height: 100px;
      margin-top: 12px;
      border: 0px;
      font-size: 50px;

    }

    .qoutes-information {
      width: 50%;
      height: 49px;
      border: 0px;
      background-color: #F5F5DC;
      color: blue;
      font-weight: bold;
      text-align: center;
    }

    .btn-username,
    .btn-update {
      width: 48.9%;
      border: 0px;
      border-radius: 19px;
      height: 49px;
      font-weight: bold;
      overflow-x: auto;
      background-color: #F5F5DC;
      overflow-x: auto;

    }
   .btn-username{
    color: yellowgreen;
   }
   .btn-update{
   color:orange
   }
  .bar-bellow{
    text-align:center;
    height: 50px;
    overflow-y: auto;
  }
  .qoutes-container{
    width:100%;
    height: 100%;
    display: flex;
  }
  .back-btn-open{
    width:100px;
    height: 100px;
    border-radius: 40px;
    border:12px;
    border-color: aliceblue;
    font-size: 20px;
    background-color: aliceblue;
    color:orange
  }
  
  .qoutes-container>div{
    justify-content: center;
    height: 500px;
    overflow-y: auto;

  }
.qoutes-sign{
   width:670px;
   height: 500px;
   overflow-y: auto;

}
.qoutes-information{
  text-align:center;
  scrollbar-width:none;
}
.qoutes-information>.back-btn-open{
  width:78px;
  height:78px;
}
.information-sign{
  width:100%;
  height: 200px;
   border:20px;
   text-align: left;
   margin-left: 20px;
   margin-top: 12px;
   scrollbar-width:none;
   overflow-y: auto;
}
.information-sign>h3,.information-sign>p,.information-sign>span{
  margin-left:20px;
  font-size: 19px;
}
  .btn-update{
    width:100px;
    height: 50px;
    border:0px;
    background-color: aliceblue;
    color:orange;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 500px;
  }
  .coment-form{
    text-align: center;
  }
  .coment-form>input{
    width:70%;
    height: 45px;
    border:0px;
    background-color: aliceblue;
    color:orange;
    font-size: 20px;
  }
  .coment-form>button{
    width:78px;
    height:45px;
    border:0px;
    background-color: orange;
    color:aliceblue;
    font-size: 20px;
  }
  .coment-card{
    width:92%;
    height:100px;
    background-color: aliceblue;
    color:orange;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 20px;
    overflow-y: auto;
    margin-top: 12px;
    scrollbar-width:none;

  }
  .chat-body{
    width:100%;
    height:350px;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .btn-bar,.btn-bar-selected{
    width:100px;
    height: 45px;
    border:0px;
    font-size:20px;
  }
  .bar-btn{
    margin-bottom: 12px;
    text-align: center;
  }
  .btn-bar{
    background-color: orange;
    color:aliceblue
  }
  .btn-bar-selected{
    background-color: aliceblue;
    color:orange;
  }
  .chat-user,.chat-others{
        height:67px;
        width:100%;
        scrollbar-width: none;
        overflow-y: auto;
        border-radius: 19px;
        margin-top:19px;
    }
    .chat-user{
      text-align:left;
      background-color: lightgreen;
      color:blue
    }
    .chat-others{
      background-color: orange;
      color:aliceblue;
      text-align: right;
    }
    .btn-user,.btn-others{
      width:45%;
      height: 49px;
      border:0px;
      font-size: 20px;
    }
    .btn-user{
      background-color: lightgreen;
      color:black
    }
    .btn-others{
      background-color: orange;
      color:black1
    }
   .qoutes-card-share{
    width:91.9%;
    height: 340px;
    border-radius: 20px;
    overflow-y: auto;
    scrollbar-width: none;
   }
  @media screen and (max-width:600px){
  .qoutes-container{
    display: block;
    width:100%;
    height:100%;
    overflow-y: auto;
  } 
  .qoutes-container>div,.qoutes-container>textarea{
    width:98.9%;
    height:500px;
    overflow-y: auto;
  }
  .information-sign{
    width:100%;
    height: 200px;
    text-align: left;
    margin-left: 1px;
   overflow-y:auto;

  }
  .btn-bar{
    width:55px;
  }
  .btn-update{
    margin-left: 280px;
  }
  }
  .coment-text-public{
    width:90.2%;
    height:300px;
    border-radius:19px;
    border:0px;
    font-size:25px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 12px;

  }
  .bar-styling>input{
     width:45.5%;
     height: 45px;
     border:0px
  }


  .qoutes-card,.qoutes-coment-card{
    width:92.9%;
    height: 300px;
    overflow-y: auto;
    margin-top: 12px;
    text-align: center;
    scrollbar-width:none;
    margin-left: 14px;

  }
  .qoutes-card{
     border-radius: 19px;
  }
  .qoutes-coment-card{
    border-radius: 0px;
  }
  </style>
</head>

<body>

  <% if (page=='qoutes-user-page') { %>
    <div style=" background-color:<%=qoutes.information.bgcolor%>;text-align:left">
      <a href="/first-page/<%=user.email%>">
        <button class="btn-bar" style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>">
          back
        </button>
      </a>
    </div>
    <div class="qoutes-container" style="width:100%;height:100%;background-color: <%=qoutes.information.bgcolor%>">
  <div class="qoutes-sign" id="sign">
      <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>"><%=qoutes.qoutes_value%></h1>
    </div>    

      <div class="qoutes-information" id='qoutes-information' style="background-color: <%=qoutes.information.color%>;">
       <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
        <%=user.username[0] %>
       </button>
       <h2 style="color:<%=qoutes.information.bgcolor%>">You</h2>
       <a href="/qoutes-update-open/<%=qoutes.qoutes_id %>">
        <button class="btn-bar" style="width:auto">update</button>
       </a>
       <a href="/qoutes-delete/<%=qoutes.qoutes_id %>">
        <button class="btn-bar-selected" style="color:red">hapus</button>
       </a>
       <hr/>
       <div class="information-sign" style="color:<%=qoutes.information.bgcolor%>">
        <p>topik: <%=qoutes.information.type %></p>
        <p>untuk: <%=qoutes.information.market_share %>  </p>
        <hr/>
        <p>dishare pada:</p>
        <p>jam   <%=qoutes.information.time %></p>
        <p>hari <%=qoutes.information.day %></p>
       </div>
        <a href="/coment-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
          <button class="btn-bar" style="width:100%; height: 89px;font-size: 25px;
          background-color:<%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>"> <%=qoutes.coment_list.length %> komen</button>
        </a>

      </div>
    </div>
<% } else if (page=='user-coment-page') { %>
 
 <div style="background-color:<%=qoutes.information.bgcolor%>;text-align:left">
      <a href="/qoutes-open/<%=qoutes.qoutes_email %>/<%=qoutes.qoutes_id %>">
        <button class="btn-bar" style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>">
          back
        </button>
      </a>
    </div>
    <div class="qoutes-container" style="width:100%;height:100%;background-color: <%=qoutes.information.bgcolor%>">
  <div class="qoutes-sign" id="sign">
      <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>"><%=qoutes.qoutes_value%></h1>
    </div>    

      <div class="qoutes-information" id='qoutes-information' style="background-color: <%=qoutes.information.color%>;">
       <form action="/post-coment" method="post" class="coment-form" style="margin-top: 20px;">
          <input type="hidden" value="<%=qoutes.qoutes_email%>" name="user_email">
          <input type="hidden" value="<%=qoutes.qoutes_id%>" name="qoutes_id">
          <input type="text" name="coment_input" class="text-coment" placeholder="tulis komnetarmu">
          <button class="btn-post-coment" type="submit">kirim</button>
        </form>
        <div class="information-sign" style="height: 76.5%;">
        <% qoutes.coment_list.forEach(coment => { %>
         <div class="coment-card" style="height: auto;">
          <button class="username-field" style="width: 70px;height: 70px;font-size: 20px;">
            <%=coment.username[0] %>
          </button>
          <span><%=coment.username %></span>
          <hr/>
          <p><%=coment.value %></p>

         </div>

        <% }) %>



        </div>



    </div>


  <% }else if(page=='qoutes-open'){%>
    <div style="background-color:<%=qoutes.information.bgcolor%>;text-align:left">
      <a href="/product-navigation/<%=user.email%>">
        <button class="back-btn-open" style='color: <%=qoutes.information.bgcolor%>;
        background-color:<%=qoutes.information.color%>;'>keluar</button>
      </a>
    </div> 
  <div class="qoutes-container" style="background-color: <%=qoutes.information.bgcolor%>;">
<div class="qoutes-sign" id="sign">
   <a href="/qoutes-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
    <h1 style="color:<%=qoutes.information.color%>;font-size:<%=qoutes.information.font_size%>px;font-family:<%=qoutes.information.font_family%>"><%=qoutes.qoutes_value%></h1>
   </a>
  </div>
  <div class="qoutes-information" style="background-color: <%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>">
    <% if (title=='qoutes-body') { %>
   <a href="/open-navigation/<%=user.email %>/<%=qoutes.qoutes_email %>">
    <button class="username-field" style="background-color: <%=user_qoutes.style.bgcolor%>;color:<%=user_qoutes.style.color%>">
      <%=user_qoutes.username[0] %>
    </button>
   </a>
    <h2><%=user_qoutes.username %></h2>
   <hr/>
   <div class="information-sign" style="color:<%=qoutes.information.bgcolor%>">
    <p>topik: <%=qoutes.information.type %></p>
    <p>untuk :<%=qoutes.information.market_share %></p>
    <hr/>
    <p>jam: <%=qoutes.information.time %></p>
    <p>hari : <%=qoutes.information.day %></p>
    <hr/>
    <h2 style="color:<%=qoutes.information.bgcolor%>">kirim</h2>
    <a href="/qoutes-private-coment/<%=user.email %>/<%=qoutes.qoutes_id%>">
      <button class="btn-bar-selected" style="width:auto; background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>">komen sebagai subjek</button>
    </a>
    <a href="/qoutes-navigation-in/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar" style="width:auto; background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>">lihat lainnya</button>
    </a>
   </div>
    <a href="/coment-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
          <button class="btn-bar" style="width:100%; height: 89px;font-size: 25px;
          background-color:<%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>"> <%=qoutes.coment_list.length %> komen</button>
        </a>

<% } else if (title=='qoutes-coment-page') { %>
  <div style="text-align: left;">
    <a href="/qoutes-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar" style="background-color: <%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>">back</button>
    </a>
  </div>
  <form action="/post-coment" method="post" class="coment-form" style="margin-top: 20px;">
          <input type="hidden" value="<%=user.email%>" name="user_email">
          <input type="hidden" value="<%=qoutes.qoutes_id%>" name="qoutes_id">
          <input type="text" name="coment_input" class="text-coment" placeholder="tulis komnetarmu">
          <button class="btn-post-coment" type="submit">kirim</button>
        </form>
        <div class="information-sign" style="height: 76.5%;">
        <% qoutes.coment_list.forEach(coment => { %>
         <div class="coment-card" style="height: auto;">
          <button class="username-field" style="width: 70px;height: 70px;font-size: 20px;">
            <%=coment.username[0] %>
          </button>
          <span><%=coment.username %></span>
          <hr/>
          <p><%=coment.value %></p>

         </div>

        <% }) %>



        </div>

  <% }else if(title=='qoutes-private-coment'){%>
  <div style="text-align: left;">
    <a href="/qoutes-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar" style="background-color: <%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>">
        kembali
      </button>
    </a>
  </div>
<div class="bar-btn">
  <a href="/qoutes-private-coment/<%=user.email %>/<%=qoutes.qoutes_id %>">
    <button class="btn-bar-selected" style="width:48.5%">chat pribadi</button>
  </a>
  <a href="/qoutes-public-coment/<%=user.email %>/<%=qoutes.qoutes_id %>">
    <button class="btn-bar" style="width:48.5%">publik</button>
  </a>
</div>
<div class="chat-body">

</div>
<form action="/send-chat-qoutes" method="post" class="coment-form">
  <input type="hidden" value="<%=user.email%>" name="user_email">
  <input type="hidden" name="qoutes_id" value="<%=qoutes.qoutes_id %>">
  <input type="hidden" name="reciepent_email" value="<%=user_qoutes.email %>">
  <input type="text" class="text-coment" name="chat_text" placeholder="tulis komentar">
  <button class="btn-post-coment">kirim</button>
</form>
<% } else if (title=="qoutes-chat-body") { %>
  <div class="bar-btn" style="text-align: left;display:flex;width:100%" >
    <div class="user-btn" style="width:50%;">
       <a href="/get-chat-list/<%=user.email %>" style="color:lightgreen" >
      <button class="username-field"  style="width:50px;height:50px;font-size: 20px;margin-right: 12px;
      background-color:<%=user.style.bgcolor%>;color:<%=user.style.color%>"><%=user.username[0]%></button>
      <%=user.username %> 
    </a>
    </div>
    <div style="text-align: right;width:50%;">
      <a href="/open-navigation/<%=user.email%>/<%=reciepent.email %>" style="color:orange">
         <%=reciepent.username %> 
      <button  class="username-field" style="width:50px;height:50px;font-size: 20px;margin-left: 12px;
      background-color:<%=reciepent.style.bgcolor%>;color:<%=reciepent.style.color%>"><%=reciepent.username[0]%></button>
      
    </a>
    </div>
  </div>
  
  <div class="chat-body">
<% chat.chat_list.forEach(chat => { %>
  <% if (chat.email==user.email){ %>
    <div class="chat-user" style="color:green">
     <h2><%=chat.value %></h2>
    </div>
   <% }else { %>
  <div class="chat-others">
   <h2><%=chat.value %></h2>
  </div>
 <%}%> 


<% }) %>



  </div>

  <form action="/send-chat" method="post" class="coment-form">
    <input type="hidden" value="<%=user.email%>" name="user_email">
    <input type="hidden" value="<%=chat.chat.room%>" name="room">
    <input type="hidden" value="<%=chat.chat.qoutes_id%>" name="qoutes_id">
    <input type="text" name="chat_text" placeholder="isi chat" class="text-coment">
    <button class="btn-post-coment">kirim</button>
  </form>
  <a href="/delete-chat/<%=user.email %>/<%=chat.chat.room %>">
     <p style="color:red">hapus</p>
  </a>
  

<%}else if(title=='qoutes-public-coment'){%>
   <div style="text-align: left;">
    <a href="/qoutes-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar" style="background-color: <%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>">
        kembali
      </button>
    </a>
  </div>
  <div class="bar-btn">
    <a href="/qoutes-private-coment/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar" style="width:48.5%">chat pribadi</button>
    </a>
    <a href="/qoutes-public-coment/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar-selected" style="width:48.5%">publik</button>
    </a>
  </div>
  <form method="post" action="/share-qoutes-public" class="coment-form">
  
<div class="bar-styling">
  <input type="color" id="color-input" name="sign_color" class="color-input" value="<%=qoutes.information.color %>">
  <input type="color" id="bgcolor-share-input" name="bg_color" class="color-input" value="<%=qoutes.information.bgcolor %>">
</div>
<input type="hidden" name="fontSize" value="<%=qoutes.information.font_size %>" id="font-size-output">
<input type="hidden" name="fontFamily" value="<%=qoutes.information.font_family %>" id="font-family-output-hidden">
<input type="hidden" name="type_get" id="topic-output" value="<%=qoutes.information.type %>">
<input type="hidden" name="market_share" id="market-share-output" value="<%=qoutes.information.market_share %>">
<input type="hidden" name="qoutes_id" value="<%=qoutes.qoutes_id %>">
<input type="hidden" name="email" value="<%=user.email %>">
<textarea name="qoutes_value" id="text-input" placeholder="isi komen" class="coment-text-public" 
style="color:<%=qoutes.information.color%>;background-color:<%=qoutes.information.bgcolor%>"></textarea><br>
<button class="btn-post-coment" style="width:98.9%;height: 40px;">kirim</button>




  </form>


<% } else if(title=='qoutes-nav-in') { %>
 <% qoutes_list.forEach(data => { %>
  <% if (data.information.qoutes_type=='qoutes') { %>
   <div class="qoutes-card" style="background-color:<%=data.information.bgcolor%>;">
   <a href="/qoutes-open/<%=user.email %>/<%=data.qoutes_id %>">
    <h2 style="color:<%=data.information.color%>;
    font-family:<%=data.information.font_family%>;
    font-size:<%=data.information.font_size%>px">
    <%=data.qoutes_value %></h2>
   </a>

   </div>

  <% }else {%>
    <div class="qoutes-coment-card" style="background-color:<%=data.information.bgcolor%>;">
      <a href="/qoutes-open/<%=user.email %>/<%=data.qoutes_id %>">
       <h2 style="color:<%=data.information.color%>;
       font-family:<%=data.information.font_family%>;
       font-size:<%=data.information.font_size%>px">
       <%=data.qoutes_value %></h2>
      </a>
   
      </div>

<%}%>




 <% }) %>



<%}%>
  

</div>


  </div>
  <%} else if (page=='qoutes-share-user') { %>
   <div style="text-align:left;background-color:<%=qoutes.information.bgcolor%>;">
   <a href="/first-page/<%=user.email %>">
    <button class="btn-bar" style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>">
      back
    </button>
   </a>
    <div class="qoutes-container">
     <div class="qoutes-sign" style="text-align: center;height:500px;overflow-y: auto;scrollbar-width: none;">
      <div class="qoutes-card-share" style="background-color: <%=qoutes_share.information.bgcolor%>">
       <a href="/qoutes-open/<%=user.email %>/<%=qoutes_share.qoutes_id %>">
        <h1 style="color:<%=qoutes_share.information.color%>"><%=qoutes_share.qoutes_value %></h1>
       </a>
      </div>     
      <h2 style="color:<%=qoutes.information.color%>"><%=qoutes.qoutes_value %></h2>
     </div>

      <div class="qoutes-information" id='qoutes-information' style="background-color: <%=qoutes.information.color%>;">
       <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
        <%=user.username[0] %>
       </button>
       <h2 style="color:<%=qoutes.information.bgcolor%>">You</h2>
      
       <a href="/qoutes-delete/<%=qoutes.qoutes_id %>">
        <button class="btn-bar-selected" style="color:red">hapus</button>
       </a>
       <hr/>
       <div class="information-sign" style="color:<%=qoutes.information.bgcolor%>">
        <p>topik: <%=qoutes.information.type %></p>
        <p>untuk: <%=qoutes.information.market_share %>  </p>
        <hr/>
        <p>dishare pada:</p>
        <p>jam   <%=qoutes.information.time %></p>
        <p>hari <%=qoutes.information.day %></p>
       </div>
        <a href="/coment-open-qoutes-share/<%=user.email %>/<%=qoutes.qoutes_id %>">
          <button class="btn-bar" style="width:100%; height: 89px;font-size: 25px;
          background-color:<%=qoutes.information.color%>;color:<%=qoutes.information.bgcolor%>"> <%=qoutes.coment_list.length %> komen</button>
        </a>
      </div>
    </div>

   </div>
 <% } else if (page=='qoutes-share-user-coment') { %>
  <div style="background-color: <%=qoutes.information.bgcolor%>;">
   <div style="text-align: left;">
     <a href="/qoutes-share-open/<%=user.email %>/<%=qoutes.qoutes_id %>">
      <button class="btn-bar" style="background-color: <%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>">
        keluar
      </button>
    </a>
   </div>
   <div class="qoutes-container">
     <div class="qoutes-sign" style="text-align: center;height:500px;overflow-y: auto;scrollbar-width: none;margin-left: 12px;">
      <div class="qoutes-card-share" style="background-color: <%=qoutes_share.information.bgcolor%>">
       <a href="/qoutes-open/<%=user.email %>/<%=qoutes_share.qoutes_id %>">
        <h1 style="color:<%=qoutes_share.information.color%>"><%=qoutes_share.qoutes_value %></h1>
       </a>
      </div>     
      <h2 style="color:<%=qoutes.information.color%>"><%=qoutes.qoutes_value %></h2>
     </div>
  <div class="qoutes-information" style="background-color: <%=qoutes.information.color%>;">
   <form action="/post-coment" method="post" class="coment-form" style="margin-top: 20px;">
          <input type="hidden" value="<%=qoutes.qoutes_email%>" name="user_email">
          <input type="hidden" value="<%=qoutes.qoutes_id%>" name="qoutes_id">
          <input type="text" name="coment_input" class="text-coment" placeholder="tulis komnetarmu">
          <button class="btn-post-coment" type="submit">kirim</button>
        </form>

         <div class="information-sign" style="height: 76.5%;">
        <% qoutes.coment_list.forEach(coment => { %>
         <div class="coment-card" style="height: auto;">
          <button class="username-field" style="width: 70px;height: 70px;font-size: 20px;">
            <%=coment.username[0] %>
          </button>
          <span><%=coment.username %></span>
          <hr/>
          <p><%=coment.value %></p>

         </div>

        <% }) %>



        </div>
  </div>



   </div>



  </div>

 <%}else if(page=='qoutes-open-share'){%>

       
<% }%>
    <script>
    const styling={
       input:{
        color:document.getElementById('color-input'),
        bgcolor:document.getElementById('bgcolor-share-input')
       },
       output:{
        text:document.getElementById('text-input')
       }
    }
styling.input.color.addEventListener('input',function(){
  styling.output.text.style.color=styling.input.color.value
})
styling.input.bgcolor.addEventListener('input',function(){
  styling.output.text.style.backgroundColor=styling.input.bgcolor.value
})







    </script>
</body>
</html>