<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style type="text/css">
    body {
      background-color: #F5F5DC;
      font-weight: bold;
      font-family: 'arial';
    }

    a {
      text-decoration: none;
    }

    .btn-bar,
    .btn-bar-selected {
      width:300px;
      height: 50px;
      margin-right: 40px;
      margin-left: 40px;
      border: 0px;
      border-radius: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .btn-bar {
      background-color:orange;
      color: black;
    }

    .btn-bar-selected {
      background-color:aliceblue;
      color: black;
    }
  .form-create{
    display: flex;
    margin-left: 20px;
    width: 100%;
  }

  .form-create>.qoutes-style{
     width:200px;
     height: 450px;
     background-color:orange;

  }
  .form-create-qoutes-form{
     width:540px;
     height: 500px;
     overflow-y: auto;
  }
  .text-input{
  width:660px;
  height:450px;
  background-color: aliceblue;
  border:0px;
  margin-top:0px;
  color:orange

  }
  .color-input{
    width:90px;
    height:50px;
    margin-top:10px;
    font-size: 30px;
    border:0px;
    
  }
  .qoutes-style>select{
   width:90px;
   height: 34px;
   border:0px;
   background-color: aliceblue;
   color:orange;
   margin-top: 10px;
   font-size: 20px;
  }

  .topic-input-text{
      width:200px;
      height:50px;
      margin-top: 10px;
      margin-left: 20px;
      border:0px;
      font-size: 20px;
      background-color: aliceblue;
      color:orange

  }

  .market-share-class{
    width:200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    border:0px;
    background-color: aliceblue;
    color:orange
  }
  .btn-post-product{
     width:200px;
     height: 50px;
     border:0px;
     background-color:rgb(182, 149, 87);
     color:#F5F5DC;
     border-radius: 20px;
     margin-top: 30px;
     margin-left: 20px;
  }


  .text-study-input{
    width:98.9%;
    height: 250px;
    border:0px;
    background-color: aliceblue;
    color:orange;
    font-size: 20px;
  }
  .kriteria-input-container{
    display:flex;
    margin-top: 40px;
    text-align: center;
    margin-left: 30px;
  }
  .kriteria-input-container>div{
    width:260px;
    height: 230px;
    margin-left: 19px;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    
  }
  .kriteria-input{
    width:210px;
    height: 50px;
    border-radius: 19px;
    border:0px;
    margin:30px;
    margin-left:20px;
    font-size: 20px;
   color:orange;
   background-color:aliceblue;
  }
 .number-kr-input{
    width:100px;
    height:30px;
    border:0px;
    border-radius: 10px;
    font-size: 20px;
    background-color: aliceblue;
    color:orange;
    
    
 }

 .alternatif-text{
  width:230px;
  height: 40px;
  margin: 30px;
  font-size: 20px;
  color:orange;
  background-color: aliceblue;
  border:0px
 }

  @media screen and (max-width:600px) {
    .form-create{
      width:100%;
      height:550px;
      overflow-y: auto;
      display:block;
      margin-left:0px;
      background-color: orange;
    }
    .form-create>.qoutes-style{
      width:98.9%;
      height:78px;
      background-color:orange;
    
    }
  .color-input,.qoutes-style>select{
    width:22.2%;
    height: 50px;
    font-size: 20px;
    
  }

  .btn-bar,
    .btn-bar-selected {
      width:100px;
      height: 50px;
      margin-right:10px;
      margin-left: 10px;
      border: 0px;
      border-radius: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }


    .text-input{
      height: 500px;
      width:100%
    }
   .qoutes-completer-form>select,.qoutes-completer-form>input{
   width:94.2%;
   height: 70px;
   margin-bottom:20px;
   margin-left: 0px;
   font-size: 27px;

   }  
    .btn-post-product{
     width:300px;
     height: 70px;
     border:0px;
     background-color:rgb(182, 149, 87);
     color:#F5F5DC;
     border-radius: 20px;
     margin-top: 30px;
     margin-left: 10px;
  }
   .topic-input-text{
      width:98.7%;
      height:300px;
      margin-top: 10px;
      margin-left: 20px;
      border:0px;
      font-size: 20px;
      background-color: aliceblue;
      color:orange

  }
     .kriteria-input-container{
    display:block;
    margin-top: 312px;
    margin-bottom: 312px;
    text-align: center;
    margin-left: 30px;

  }
    .kriteria-input-container>div{
    width:96.3%;
    height: 230px;
    margin-left: 3px;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    
  }
  
  }
  </style>
</head>

<body>
  <% if (page=='product-create-page') { %>
  <div class="create-page-bar">
    <a href="/first-page/<%=user.email%>">
      <button class="btn-bar">kembali</button>
    </a>
    <a href="/create-new-product/<%=user.email%>">
      <button class="btn-bar-selected">qoutes</button>
    </a>
    <a href="/create-new-study/<%=user.email%>">
      <button class="btn-bar">product</button>
    </a>
  </div>
  <div class='form-create'style="text-align: center">
  <form class="form-create" id="qoutes-form">
    <div class="qoutes-style">
      <input type="color" id="sign-color-input" class="color-input" value="<%=user.style.color %>">
      <input type="color" id="bgcolor-input" class="color-input" value="<%=user.style.bgcolor %>">
  
      <select  id="font-size-input">
        <option value="11">normal</option>
         <option value="19">6</option>
         <option value="24">10</option>
         <option value="34">12</option>
         <option value="38">14</option>
         <option value="44">18</option>
         <option value="48">22</option>
         <option value="54">26</option>
         <option value="58">30</option>
       </select>
      <select  id="font-family-input">
        <option value="Arial">normal</option>
        <option value="Times New Roman" style="font-family:Times New Roman">times new roman</option>
        <option value="Rockwell" style="font-family:Rockwell">rockwell</option>
        <option value="Courier" style="font-family: Courier;">courier</option>
        <option value="Impact" style="font-family: Impact;">impact</option>
        <option value="MV Boli" style="font-family: MV Boli;">mv boli</option>
      </select>
    </div>
    <div class="qoutes-form">
   
    <input type="hidden" name="email" value="<%=user.email%>">
    <input type="hidden" name="bg_color" value="<%=user.style.bgcolor %>" id="bgcolor-output-hidden">
   <input type="hidden" name="sign_color" value="<%-user.style.color %>" id="sign-color-output-hidden">
   <input type="hidden" name="fontSize" value="11" id="font-size-output">
   <input type="hidden" name="fontFamily" value="" id="font-family-output-hidden">
   <input type="hidden" name="type_get" id="topic-output" value="">
   <input type="hidden" name="market_share" id="market-share-output" value="">
    <textarea name="qoutes_value" class="text-input" placeholder="tulis isi pikiranmu" id="text-input"
     style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"></textarea>
    </div>
    <div class="qoutes-completer-form">
      <input type="text" id="topic-input" placeholder="topik" class="topic-input-text"><br>
      <select  id="market-input" class="market-share-class">
        <option value="">kalangan</option>
        <option value="semua kalangan">semua</option>
        <option value="khusus dewasa">dewasa</option>
        <option value="untuk remaja">remaja</option>
        <option value="untuk anak anak">anak anak</option>
      </select><br>
      <button class="btn-post-product" onclick="get_ValidationPost(
        {
          text:document.getElementById('text-input'),
          market:document.getElementById('market-share-input'),
          catagories:document.getElementById('catagory-input')
  
        },
        {
          form:document.getElementById('qoutes-form'),
          action:'/post-qoutes'
        }
      )">posting</button>
    </div>
  
   
  </form>
  </div>
    
  <% }else if(page=='qoutes-user-update'){ %>
    <div class="create-page-bar">
      <a href="/first-page/<%=user.email%>">
        <button class="btn-bar">kembali</button>
      </a>
      <a href="/create-new-product/<%=user.email%>">
        <button class="btn-bar-selected">qoutes</button>
      </a>
      <a href="/create-new-studi/<%=user.email%>/<%=qoutes.qoutes_id%>">
        <button class="btn-bar">penelitian</button>
      </a>
    </div>
     
      <form class="form-create" id="qoutes-form">
        <div class="qoutes-style">
          <input type="color" id="sign-color-input" class="color-input" value="<%=qoutes.information.color%>">
          <input type="color" id="bgcolor-input" class="color-input" value="<%=qoutes.information.bgcolor%>">
          <select  id="font-size-input">
            <option value="<%=qoutes.information.font_size%>">normal</option>
             <option value="19">6</option>
             <option value="24">10</option>
             <option value="34">12</option>
             <option value="38">14</option>
             <option value="44">18</option>
             <option value="48">22</option>
             <option value="54">26</option>
             <option value="58">30</option>
           </select>
          <select  id="font-family-input">
            <option value="<%=qoutes.information.font_family%>">normal</option>
            <option value="Times New Roman" style="font-family:Times New Roman">times new roman</option>
            <option value="Rockwell" style="font-family:Rockwell">rockwell</option>
            <option value="Courier" style="font-family: Courier;">courier</option>
            <option value="Impact" style="font-family: Impact;">impact</option>
            <option value="MV Boli" style="font-family: MV Boli;">mv boli</option>
          </select>
        </div>
        <input type="hidden" name="email" value="<%=user.email%>">
        <input type="hidden" name="qoutes_id" value="<%qoutes.qoutes_id%>">
        <input type="hidden" name="bg_color" value="<%=qoutes.information.bgcolor%>" id="bgcolor-output-hidden">
       <input type="hidden" name="sign_color" value="<%=qoutes.information.color %>" id="sign-color-output-hidden">
       <input type="hidden" name="fontSize" value="<%=qoutes.information.font_size %>" id="font-size-output">
       <input type="hidden" name="fontFamily" value="<%=qoutes.information.font_family %>" id="font-family-output-hidden">
       <input type="hidden" name="type_get" id="topic-output" value="<%=qoutes.information.type %>">
       <input type="hidden" name="market_share" id="market-share-output" value="<%=qoutes.information.market_share %>">
        <textarea name="qoutes_value" class="text-input" placeholder="tulis isi pikiranmu" id="text-input" 
        style="background-color:<%=qoutes.information.bgcolor%>;color:<%=qoutes.information.color%>;
        font-family:<%=qoutes.information.font_family%>;font-size:<%=qoutes.information.font_size%>px">
        <%=qoutes.qoutes_value%>
      </textarea><br>
        <div class="qoutes-completer-form">
          <input type="text" id="topic-input" placeholder="topik" class="topic-input-text"><br>
        <select  id="market-input" class="market-share-class">
          <option value="">kalangan</option>
          <option value="all-users">semua</option>
          <option value="adult-users">dewasa</option>
          <option value="daugther-users">remaja</option>
          <option value="child-users">anak anak</option>
        </select><br>
        <button class="btn-post-product" onclick="get_ValidationPost(
          {
            text:document.getElementById('text-input'),
            market:document.getElementById('market-share-input'),
            catagories:document.getElementById('catagory-input')
    
          },
          {
            form:document.getElementById('qoutes-form'),
            action:'/update-qoutes/<%=qoutes.qoutes_id%>'
          }
        )">update</button>  
      </div>
      </form>
  <%}else if(page=='market-page-create'){%>
<div class="create-page-bar">
    <a href="/first-page/<%=user.email%>">
      <button class="btn-bar">kembali</button>
    </a>
    <a href="/create-new-product/<%=user.email%>">
      <button class="btn-bar">qoutes</button>
    </a>
    <a href="/create-new-study/<%=user.email%>">
      <button class="btn-bar-selected">produk</button>
    </a>
  </div>
  

  <%}%>
    
  <script>
   const color={
       sign:document.getElementById('sign-color-input'),
       bgcolor:document.getElementById('bgcolor-input')
   }

color.sign.addEventListener('input',function(){
   document.getElementById('text-input').style.color=color.sign.value
   document.getElementById('sign-color-output-hidden').setAttribute('value',color.sign.value)

  })
color.bgcolor.addEventListener('input',function(){
  document.getElementById('text-input').style.backgroundColor=color.bgcolor.value
  document.getElementById('bgcolor-output-hidden').setAttribute('value',color.bgcolor.value)
})

const style={
    size:document.getElementById('font-size-input'),
    family:document.getElementById('font-family-input')
}
style.size.addEventListener('input',function(){
  if(style.size.value<=30){
    document.getElementById('text-input').style.fontSize=style.size.value+'px'
    document.getElementById('text-input').style.textAlign='left'
    document.getElementById('font-size-output').setAttribute('value',style.size.value) 
    document.getElementById('topic-input').setAttribute('placeholder','judul')
    document.getElementById('')
  }
  else{
    document.getElementById('text-input').style.fontSize=style.size.value+'px'
    document.getElementById('text-input').style.textAlign='center'
    document.getElementById('font-size-output').setAttribute('value',style.size.value)
     document.getElementById('topic-input').setAttribute('placeholder','topik')
  }




})

style.family,addEventListener('input',function(){
  document.getElementById('text-input').style.fontFamily=style.family.value;
  document.getElementById('font-family-output-hidden').setAttribute('value',style.family.value)
})

const qoutes_atribut={
     topic:document.getElementById('topic-input'),
     market:document.getElementById('market-input')
}


qoutes_atribut.topic.addEventListener('input',function(){
  document.getElementById('topic-output').value=qoutes_atribut.topic.value
})

qoutes_atribut.market.addEventListener('input',function(){
  document.getElementById('market-share-output').value=qoutes_atribut.market.value
})


function get_ValidationPost(input,output){
  if(input.text.value==""){
    input.text.style.backgroundColor='lightred'
    input.text.setAttribute('placeholder','maaf tidak bisa kirim text kosong')
  }
  else{
    output.form.setAttribute('method','post')
    output.form.setAttribute('action',output.action)
  }
}

  </script>
</body>
</html>







	