<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>daftar produk</title>
  <style type="text/css">
    body {
      background-color: #f5f5dc;
      font-weight: bold;
      font-family: "arial";
    }

    a {
      text-decoration: none;
    }

    .user-bar {
      display: flex;
      width: 100%;


    }

    .btn-user-bar {
      width:150px;
      height: 46px;
      margin-left: 30px;
      margin-top: 40px;
      border: 0px;
      border-radius: 20px;
      background-color: orange;
      font-weight: bold;
      font-size: 25px;
      color: aliceblue
    }
  .username-field{
     width:100px;
     height:100px;
     border-radius:100px;
     border:0px;
     font-size:30px;
  }


    .body-navigator {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      gap: 20px;
      /* jarak antar kotak */
      height: 500px;
      overflow-y: auto;
      width: 100%;
      scrollbar-width:none;
    }

    .qoutes-card {
      width: 300px;
      overflow-y: auto;
      height: 300px;
      border-radius: 12px;
      background-color: rgb(195, 195, 171);
      color: orange;
      text-align: center;
      margin-top: 19px;
      scrollbar-width: none;

    }



    .search-form {
      width: 92.9%;
      height: 45px;
      margin-top: 40px;
      margin-left: 20px;
      border-radius: 19px;
      background-color: aliceblue;
    }

    .text-search,
    .btn-search {
      background-color: aliceblue;
      color: black;
      font-weight: bold;
    }

    .text-search {
      width: 82.9%;
      height: 45px;
      border-radius: 19px;
      border: 0px;
      font-size: 20px;
      height: 45px;
    }

    .btn-search {
      width: 12%;
      height: 45px;
      border: 0px;
      font-size: 20px;
    }


    .qoutes-information {
      width: 50%;
      height: 49px;
      border: 0px;
      background-color: aliceblue;
      color: rgb(74, 74, 100);
      font-weight: bold;
    }




    .user-card {
      height: 60px;
      margin-top: 17px;
      border-radius: 19px;
      background-color: lightyellow;
      text-align: center;
    }

    .btn-chatting {
      background-color: lightgreen;
      color: black;
    }

    .bar-bellow {
      text-align: center;
    }

    .btn-bar-bellow {
      width: 47.8%;
      height: 50px;
      background-color: #ffc40c;
      color: black;
      border: 0px;
      font-weight: bold;
      font-size: 20px;
    }


    .btn-visitor {
      width: 43.9%;
      height: 40px;
      font-weight: bold;
      border: 0px;
      border-radius: 19px;
      margin-left: 7px;
      margin-bottom: 7px;
      margin-top: 12px;

    }


    .qoutes-share-card {
      height: 200px;
      overflow-y: auto;
      background-color: #e1c16e;
      color: orange;
    }

    /* Daftar dropdown */


    .friends-bar {
      text-align: left;

    }

    .fr-bar {
      width: 48%;
      height: 50px;
      border: 0px;
      background-color: #b9b4a5;
      color: orange;
      font-weight: bold;
    }



    .friends-body-navigator {
      height: 500px;
      width: 100%;
      display: flex;
      text-align: left;
      overflow-x: auto;

    }

    .friends-body-navigator>div {
      width: 560px;
      height: 500px;
      overflow-y: auto;
      margin-right: 15px;
      scrollbar-width: none;
      text-align: center;
    }



    .nav-2 {
      display: flex;
      background-color: #f1f1f1;
      border-radius: 12px;
      width: 200px;
      height: 100px;
      margin-top: 12px;
    }

    .nav-2>div {
      color: orange;
      margin-left: 12px;
    }

    .user-information-bar {
      width: 100%;
      height: 300px;
      display: flex;
    }

    .user-information-bar>div {
      width: 50%;
      height: 300px;
      border-radius: 19px;
    }

    .username-setting {
      background-color: aliceblue;
      border-radius: 19px;
      text-align: center;
    }

                                                              


    .user-information {
      background-color: #f5f5dc;
      text-align: left;

    }

    .user-information>p {
      margin-left: 12px;
      margin-bottom: 30px;
      font-size: 20px;
      color: orange
    }

    .user-information>button {
      width: 34.3%;
      height: 30px;
      border: 19px;
    }

    .btn-bar-option {
      width: 20.3%;
      height: 34px;
      border: 0px;
      border-radius: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .color-input {
      width: 34.3%;
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0px;
    }
    hr{
      display: none;
    }

    @media screen and (max-width: 600px) {
      .body-navigator {
        display:block;
        height: 500px;
        overflow-y: auto;
        width: 100%;
        margin-top: 12px;
      }

      .body-navigator>div {
        width: 100%;
        height: 200px;
        border-radius: 19px;



      }
      .btn-user-bar {
      width: 90px;
      height:50px;
      margin-left: 30px;
      margin-top: 40px;
      border: 0px;
      overflow-x: auto;
      border-radius: 20px;
      background-color: orange;
      font-weight: bold;
      font-size: 25px;
      color: aliceblue;
      scrollbar-width: none;
    }

      .user-information-bar {
        width: 100%;
        height: 400px;
        display: block;
      }

      .user-information-bar>div {
        width: 100%;
        height: 400px;
      }

     
       .search-form {
      width:auto;
      height: 45px;
      margin-top: 40px;
      margin-left: 20px;
      border-radius: 19px;
      background-color: aliceblue;
    }

    .text-search,
    .btn-search {
      background-color: aliceblue;
      color: black;
      font-weight: bold;
    }

    .text-search {
      width:71.8%;
      height: 45px;
      border-radius: 19px;
      border: 0px;
      font-size: 20px;
      height: 45px;
    }

    .btn-search {
      width: 12%;
      height: 45px;
      border: 0px;
      font-size: 20px;
    }

      .btn-bar-option {
        width: 100px;
        height: 45px;
        border: 0px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 0px;
      }

      .user-bar {
        display: flex;
        width: 100%;


      }

      .username-field {
        width: 90px;
        height: 90px;
        border:0px;
        border-radius:100px;
        font-size:30px;

      }

      
      .search-form {
        margin-top: 40px;
      }
      hr{
        display: block;
        margin-top: 12px;
      }





    }
  </style>
</head>

<body>
  <%if(page=='user-product-list'){%>
  <div class="user-bar" style="background-color: <%=user.style.color%>;">
    <div class="username-bar">
      <a href="/setting-user-data/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <a href="/get-my-friend-list/<%=user.email %>">
        <button class="btn-user-bar">temanku</button>
      </a>
      
      <a href="/get-chat-list/<%=user.email %>" id="user-btn">
        <button class="btn-user-bar">chat</button>
      </a>
    <hr/>
      <input type="hidden" value="<%=user.email%>" id="user-address">
      <button class="btn-user-bar" onclick="get_search(
  {
   address:document.getElementById('user-address'),
   link:`/first-page/${document.getElementById('user-address').value}`,
   post:`/search-user-product`
  },
  {
   info:document.getElementById('user-info'),
   btn:document.getElementById('user-btn')
  }
 
)">cari</button>
<a href="/product-navigation/<%=user.email %>">
        <button class="btn-user-bar">beranda</button>
      </a>
      <hr/>
<a href="/create-new-product/<%=user.email %>">
  <button class="btn-user-bar" style="margin-bottom: 20px;">buat</button>
</a>
    </div>




  </div>

  <div class="body-navigator">
    <!--call keluar-->
   <% if (user.calls.reciepent=="") { %>
    
   <% }else {%>
    <% if (user.calls.status=='calling-processing') { %>
   <div class="qoutes-card" style="background-color: lightgreen;color:aliceblue">
    <button class="username-field"><%=user.calls.reciepent.username[0] %></button>
      <a href="/get-call-page/<%=user.email %>/<%=user.calls.reciepent.email %>"><h2>memanggil <%=user.calls.reciepent.username %>   </h2></a>
   </div>    
 
    <% }else if(user.calls.status=='calling-running'){ %>
    <div class="qoutes-card" style="background-color: lightgreen;color:aliceblue">
    <button class="username-field"><%=user.calls.reciepent.username[0] %></button>
      <a href="/get-call-page/<%=user.email %>/<%=user.calls.reciepent.email %>">
        <h2> ngobrol dengan <%=user.calls.reciepent.username %>   </h2>
      </a>
   </div> 
    <%}%>


    <%}%>

<!--call-masuk-->

<% if (user.calls.calling=="") { %>
    
   <% }else {%>
    <% if (user.calls.status=='calling-processing') { %>
   <div class="qoutes-card" style="background-color:orange;color:rgb(16, 25, 33)">
    <button class="username-field"><%=user.calls.calling.username[0] %></button>
      <h2> <%=user.calls.calling.username %>   manggil...</h2><br>
       <a href="/call-accept/<%=user.email %>/<%=user.calls.calling.email %>">
        <button class="btn-bar-option" style="width:31.3%;
        background-color: #e1c16e;color:green">terima</button>
       </a>
       <a href="/call-rejected/<%=user.email %>">
        <button class="btn-bar-option" style="width:31.3%;margin-left:12px;
        background-color:rgb(212, 171, 171);color:red">tolak</button>
       </a>
   </div>    
   <% } else if (user.calls.status=='rejected-process') { %>
      <div class="qoutes-card" style="background-color:orange;color:rgb(16, 25, 33)">
    <button class="username-field"><%=user.calls.calling.username[0] %></button>
      <form action="/rejected-calls" method="post" style="margin-top:40px;">
        <input type="hidden" name="user_email" value="<%=user.email%>">
        <input type="hidden" name="calling_email" value="<%=user.calls.calling.email %>">
        <input type="text" name="reject_reason" placeholder="asalan tolak" class="reject-text" style="width:200px;height: 50px;border:0px;
        background-color: aliceblue;color:orange;font-weight: bold;font-size: 25px;">
        <button class="btn-reject" style="width:70px;height: 50px;border:0px;
        background-color: #b9b4a5;color:orange;font-size:25px;font-weight: 25px;">ok</button>
      </form>
   </div>    
 
    <% }else if(user.calls.status=='calling-running'){ %>
    <div class="qoutes-card" style="background-color: orange;color:aliceblue">
    <button class="username-field"><%=user.calls.calling.username[0] %></button>
      <a href="/get-call-page/<%=user.email %>/<%=user.calls.calling.email %>">
        <h2>ngobroll dengan   <%=user.calls.calling.username %>  </h2>
      </a>
   </div> 
    <%}%>


    <%}%>



    <%user_product.forEach(data=>{%>
    <% if (data.qoutes_share=='none' ) { %>
    <div class="qoutes-card" style="background-color:<%=data.information.bgcolor%>;">
      <a href="/qoutes-open/<%=user.email %>/<%=data.qoutes_id %>">
        <h1 style="color:<%=data.information.color%>;font-size:<%=data.information.font_size%>px;font-family:<%=data.information.font_family%>">
          <%=data.qoutes_value%>
        </h1>
      </a>
    </div>
    <% }else {%>
    <div class="qoutes-card" style="background-color: <%=data.information.bgcolor%>;">
     <div style="width:91.9%;height:200px;overflow-y: auto;">
      <h2><%=data.qoutes_share.qoutes_value %></h2>
     </div>
    <a href="/qoutes-share-open/<%=user.email%>/<%=data.qoutes_id%>">
     <h1 style="color:<%=data.information.color%>">lihat </h1>
    </a>
    </div>

    <%}%>


              <%})%>
    <%pelanggan.forEach(user_data => { %>
     <div class="qoutes-card">
         <a href="/open-navigation/<%=user.email %>/<%=user_data.email %>">
          <button class="username-field" style="margin-top: 12px;color:orange; font-weight: bold;"><%=user_data.user[0] %></button>
         </a>
           <br>

         <a href="/get-new-chat/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto;background-color: #edeadf;color:orange">chat</button>
         </a>
         <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto">call</button>
         </a>

        
      
     </div>
    <% }) %>
  <% pelanggan.forEach(user_data => { %>
    <div class="qoutes-card">
         <a href="/open-navigation/<%=user.email %>/<%=user_data.email %>">
          <button class="username-field" style="margin-top: 12px;color:orange; font-weight: bold;"><%=user_data.user[0] %></button>
         </a>
           <br>

         <a href="/get-new-chat/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto;background-color: #edeadf;color:orange">chat</button>
         </a>
         <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto">call</button>
         </a>
     </div>
  <% }) %>
  </div>


  <%}else if(page=='setting-page' ){%>
  <div class="user-information-bar">
    <div class="username-setting" id="user-sett">
      <a href="/first-page/<%=user.email %>">
        <button class="username-field" id="user-button" style="background-color:<%=user.style.bgcolor%>;color:<%=user.style.color%>">
        <%=user.username[0] %>
      </button>
      </a>
      <form method='post' action='/username-change' class='search-form'>
        <input type="color" id="color-input" class="color-input" name="color" value="<%=user.style.color%>">
        <input type="color" id="bgcolor-input" class="color-input" name="bgcolor" value="<%=user.style.bgcolor%>">
        <input type='hidden' name='email_input' value='<%=user.email %>'>
        <input type='text' class='text-search' name='username_input' value='<%=user.username %>' placeholder='nama baru' style="background-color: #edeadf;color:orange">
        <button class='btn-search'>ok</button>
      </form>
      
    </div>
    <div class="user-information">
      <p>email : <%=user.email %>
      </p>
      <hr />
      <p>tanggal lahir : <%=user.bord%>
      </p>
      <hr />
      <p>usia : <%=user.age %>
      </p>
      <hr />

      <a href="/user-notes-list/<%=user.email%>">
        <button class="btn-bar-option" style="margin-left:20px;color:orange;background-color: rgb(224, 215, 198);margin-top: 12px;">catatan</button>
      </a>
      
      <a href="/leo.com">
        <button class="btn-bar-option" style="margin-left:38.9%;color:red;background-color: rgb(233, 216, 216);">log-out</button>
      </a>

    </div>

  </div>
  <% } else if (page=='notes-list') { %>
   <div>
    <a href="/setting-user-data/<%=user.email %>">
      <button class="username-field" 
      style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
    </a>
   </div>
   <div class="body-navigator">
    <% user.my_notes.forEach(notes=> { %>
     <div class="qoutes-card"  style="background-color: aliceblue;">
      <a href="/notes-open/<%=user.email %>/<%=notes.notes_id%>">
        <h2 style="color:orange"><%=notes.notes_value %></h2>
      </a>
     </div>
    <% }) %>
   </div>

<% } else if(page=='notes-page-open') { %>
 <div class="notes-bar">
  <a href="/user-notes-list/<%=user.email %>">
      <button class="username-field" 
      style="color:<%=user.style.color%>;background-color:<%=user.style.bgcolor%>"><%=user.username[0] %></button>
  </a>
  <a href="/notes-delete/<%=user.email %>/<%=notes.notes_id%>">
    <button class="btn-bar-option" style="color:red;background-color: lightgray;margin-left: 34.8%;">hapus</button>
  </a>
 </div>
<form style="text-align: center;margin-top: 12px;">

<textarea name="" id="" class="notes-text" style="width:78.8%;height: 300px;
background-color: aliceblue;color:orange;
font-size: 20px;">
<%=notes.notes_value %>

</textarea>


</form>


  <%}else if(page=='langganan' ){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/first-page/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <a href="/get-my-friend-list/<%=user.email %>">
        <button class="btn-user-bar">teman</button>
      </a>
      <input type="hidden" value="<%=user.email %>" id="user-address">
      <button onclick="get_search(
      {
        address:document.getElementById('user-address'),
        link:`/user-langganan/${document.getElementById('user-address').value}`,
        post:`/search-langganan`
    },
    {
        info:document.getElementById('user-info'),
         btn:document.getElementById('user-btn')
    }
    
          )" class="btn-user-bar">cari</button>
    </div>

  </div>
<h1 style="color:orange">aku berteman dengan <%=langganan.length %> orang</h1>
  <div class="body-navigator">
      <%langganan.forEach(user_data=>{%>
      <div class="qoutes-card">
         <a href="/open-navigation/<%=user.email %>/<%=user_data.email %>">
          <button class="username-field" style="margin-top: 12px;color:orange; font-weight: bold;"><%=user_data.user[0] %></button>
         </a>
           <br>

         <a href="/get-new-chat/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto;background-color: #edeadf;color:orange">chat</button>
         </a>
         <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto">call</button>
         </a>

        
      
     </div>
      <%})%>
  </div>
  <%}else if(page=='pelanggan' ){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/first-page/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <a href="/get-my-friend-list/<%=user.email %>">
        <button class="btn-user-bar">teman</button>
      </a>
      <input type="hidden" value="<%=user.email %>" id="user-address">
      <button onclick="get_search(
      {
        address:document.getElementById('user-address'),
        link:`/user-pelanggan/${document.getElementById('user-address').value}`,
        post:`/search-pelanggan`
    },
    {
        info:document.getElementById('user-info'),
         btn:document.getElementById('user-btn')
    }
    
          )" class="btn-user-bar">cari</button>
    </div>

  </div>
  <h1 style="color:orange" style="margin-left: 20px;"><%=user.pelanggan.length %> teman ku</h1>
  <div class="body-navigator">
      <%pelanggan.forEach(user_data=>{%>
      <div class="qoutes-card">
         <a href="/open-navigation/<%=user.email %>/<%=user_data.email %>">
          <button class="username-field" style="margin-top: 12px;color:orange; font-weight: bold;"><%=user_data.user[0] %></button>
         </a>
           <br>

         <a href="/get-new-chat/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto;background-color: #edeadf;color:orange">chat</button>
         </a>
         <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto">call</button>
         </a>
     </div>
      <%})%>
  </div>

  <%}else if(page=='friends-list' ){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/first-page/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      
      <input type="hidden" value="<%=user.email %>" id="user-address">
      <button onclick="get_search(
    {
      address:document.getElementById('user-address'),
      link:`/get-my-friend-list/${document.getElementById('user-address').value}`,
      post:`/search-friends-list`
  },
  {
      info:document.getElementById('user-info'),
       btn:document.getElementById('user-btn')
  }
  
        )" class="btn-user-bar">cari</button>
        
      <a href="#friends-bar">
        <button class="btn-user-bar" style="background-color: none;width:auto">
      teman temanku ada <%=user.langganan.length+user.pelanggan.length %> orang
      </button>
      </a>

    </div>

  </div>
  <div class="body-navigator">    
      <% langganan.forEach(user_data=> { %>
      <div class="qoutes-card">
         <a href="/open-navigation/<%=user.email %>/<%=user_data.email %>">
          <button class="username-field" style="margin-top: 12px;color:orange; font-weight: bold;"><%=user_data.user[0] %></button>
         </a>
           <br>

         <a href="/get-new-chat/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto;background-color: #edeadf;color:orange">chat</button>
         </a>
         <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto">call</button>
         </a>
     </div>
      <% }) %>
      <% pelanggan.forEach(user_data=> { %>
      <div class="qoutes-card">
         <a href="/open-navigation/<%=user.email %>/<%=user_data.email %>">
          <button class="username-field" style="margin-top: 12px;color:orange; font-weight: bold;"><%=user_data.user[0] %></button>
         </a>
           <br>

         <a href="/get-new-chat/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto;background-color: #edeadf;color:orange">chat</button>
         </a>
         <a href="/get-new-call/<%=user.email %>/<%=user_data.email %>">
          <button class="btn-user-bar" style="width:auto">call</button>
         </a>

        
      
     </div>
      <% }) %>
  </div>
  <div id="friends-bar">
    <a href="/user-langganan/<%=user.email %>">
  <button class="btn-user-bar" style="width: auto;"><%=user.langganan.length %> berteman</button>
</a>
<a href="/user-pelanggan/<%=user.email %>">
  <button class="btn-user-bar" style="width:auto"><%=user.pelanggan.length %> temanku</button>
</a>
  </div>

  <%}%>
<script type="text/javascript">
  const style_update = {
    input: {
                    color: document.getElementById('color-input'),
                    bgcolor: document.getElementById('bgcolor-input')
                  },
                  output: document.getElementById('user-button')
                }


                style_update.input.color.addEventListener('input', function () {
                  style_update.output.style.color = style_update.input.color.value
                })

                style_update.input.bgcolor.addEventListener('input', function () {
                  style_update.output.style.backgroundColor = style_update.input.bgcolor.value
                })


                function get_search(input, output) {
                  output.btn.setAttribute('href', input.link)
                  output.info.innerHTML =
 `  
 <form method="post" action="${input.post}" class="search-form">
    <input type="hidden" name="user_email" value="${input.address.value}" />
    <input type="text" name="search_input" placeholder="cari apa"  class="text-search" />
    <button class="btn-search">cari</button>
  </form>
  
  
  `

                }






              </script>

</body>

</html>