<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>daftar produk</title>
  <style type="text/css">
    body {
      background-color: #f5f5dc;
      font-weight: bold;
      font-family: "arial";
    }

    a {
      text-decoration: none;
    }

    .user-bar {
      display: flex;
      width: 100%;


    }

    .btn-user-bar {
      width:150px;
      height: 46px;
      margin-left: 30px;
      margin-top: 40px;
      border: 0px;
      border-radius: 20px;
      background-color: orange;
      font-weight: bold;
      font-size: 25px;
      color: aliceblue
    }



    .body-navigator {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      gap: 20px;
      /* jarak antar kotak */
      height: 500px;
      overflow-y: auto;
      width: 100%;
    }

    .qoutes-card {
      width: 300px;
      overflow-y: auto;
      height: 300px;
      border-radius: 12px;
      background-color: rgb(195, 195, 171);
      color: orange;
      text-align: center;
      margin-top: 19px;
      scrollbar-width: none;

    }



    .search-form {
      width: 92.9%;
      height: 45px;
      margin-top: 40px;
      margin-left: 20px;
      border-radius: 19px;
      background-color: aliceblue;
    }

    .text-search,
    .btn-search {
      background-color: aliceblue;
      color: black;
      font-weight: bold;
    }

    .text-search {
      width: 82.9%;
      height: 45px;
      border-radius: 19px;
      border: 0px;
      font-size: 20px;
      height: 45px;
    }

    .btn-search {
      width: 12%;
      height: 45px;
      border: 0px;
      font-size: 20px;
    }


    .qoutes-information {
      width: 50%;
      height: 49px;
      border: 0px;
      background-color: aliceblue;
      color: rgb(74, 74, 100);
      font-weight: bold;
    }




    .user-card {
      height: 60px;
      margin-top: 17px;
      border-radius: 19px;
      background-color: lightyellow;
      text-align: center;
    }

    .btn-chatting {
      background-color: lightgreen;
      color: black;
    }

    .bar-bellow {
      text-align: center;
    }

    .btn-bar-bellow {
      width: 47.8%;
      height: 50px;
      background-color: #ffc40c;
      color: black;
      border: 0px;
      font-weight: bold;
      font-size: 20px;
    }


    .btn-visitor {
      width: 43.9%;
      height: 40px;
      font-weight: bold;
      border: 0px;
      border-radius: 19px;
      margin-left: 7px;
      margin-bottom: 7px;
      margin-top: 12px;

    }


    .qoutes-share-card {
      height: 200px;
      overflow-y: auto;
      background-color: #e1c16e;
      color: orange;
    }

    /* Daftar dropdown */


    .friends-bar {
      text-align: left;

    }

    .fr-bar {
      width: 48%;
      height: 50px;
      border: 0px;
      background-color: #b9b4a5;
      color: orange;
      font-weight: bold;
    }



    .friends-body-navigator {
      height: 500px;
      width: 100%;
      display: flex;
      text-align: left;
      overflow-x: auto;

    }

    .friends-body-navigator>div {
      width: 560px;
      height: 500px;
      overflow-y: auto;
      margin-right: 15px;
      scrollbar-width: none;
      text-align: center;
    }



    .nav-2 {
      display: flex;
      background-color: #f1f1f1;
      border-radius: 12px;
      width: 200px;
      height: 100px;
      margin-top: 12px;
    }

    .nav-2>div {
      color: orange;
      margin-left: 12px;
    }

    .user-information-bar {
      width: 100%;
      height: 300px;
      display: flex;
    }

    .user-information-bar>div {
      width: 50%;
      height: 300px;
      border-radius: 19px;
    }

    .username-setting {
      background-color: aliceblue;
      border-radius: 19px;
      text-align: center;
    }

    .username-field {
      border-radius: 100px;
      width: 100px;
      height: 100px;
      margin-top: 12px;
      border: 0px;
      font-size: 50px;

    }



    .user-information {
      background-color: #f5f5dc;
      text-align: left;

    }

    .user-information>p {
      margin-left: 12px;
      margin-bottom: 30px;
      font-size: 20px;
      color: orange
    }

    .user-information>button {
      width: 34.3%;
      height: 30px;
      border: 19px;
    }

    .btn-bar-option {
      width: 20.3%;
      height: 34px;
      border: 0px;
      border-radius: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .color-input {
      width: 34.3%;
      height: 45px;
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0px;
    }
    hr{
      display: none;
    }

    @media screen and (max-width: 600px) {
      .body-navigator {
        display:block;
        height: 500px;
        overflow-y: auto;
        width: 100%;
        margin-top: 12px;
      }

      .body-navigator>div {
        width: 100%;
        height: 200px;
        border-radius: 19px;



      }
      .btn-user-bar {
      width: 90px;
      height:50px;
      margin-left: 30px;
      margin-top: 40px;
      border: 0px;
      overflow-x: auto;
      border-radius: 20px;
      background-color: orange;
      font-weight: bold;
      font-size: 25px;
      color: aliceblue;
      scrollbar-width: none;
    }

      .user-information-bar {
        width: 100%;
        height: 400px;
        display: block;
      }

      .user-information-bar>div {
        width: 100%;
        height: 400px;
      }

      .search-form {
        margin-top: 40px;
      }

      .btn-bar-option {
        width: 100px;
        height: 45px;
        border: 0px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 0px;
      }

      .user-bar {
        display: flex;
        width: 100%;


      }

      .username-field {
        width: 90px;
        height: 90px;
      }

      
      .search-form {
        margin-top: 40px;
      }
      hr{
        display: block;
        margin-top: 12px;
      }





    }
  </style>
</head>

<body>
  <%if(page=='user-product-list'){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/setting-user-data/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <a href="/get-my-friend-list/<%=user.email %>">
        <button class="btn-user-bar">temanku</button>
      </a>
      
      <a href="/get-chat-list/<%=user.email %>" id="user-btn">
        <button class="btn-user-bar">chat</button>
      </a>
    <hr/>
      <input type="hidden" value="<%=user.email%>" id="user-address">
      <button class="btn-user-bar" onclick="get_search(
  {
   address:document.getElementById('user-address'),
   link:`/first-page/${document.getElementById('user-address').value}`,
   post:`/search-user-product`
  },
  {
   info:document.getElementById('user-info'),
   btn:document.getElementById('user-btn')
  }
 
)">cari</button>
<a href="/product-navigation/<%=user.email %>">
        <button class="btn-user-bar">beranda</button>
      </a>
      <hr/>
<a href="/create-new-product/<%=user.email %>">
  <button class="btn-user-bar">buat</button>
</a>
    </div>




  </div>

  <div class="body-navigator">
    <%user_product.forEach(data=>{%>
    <% if (data.information.qoutes_type=='qoutes' ) { %>
    <div class="qoutes-card" style="background-color:<%=data.information.bgcolor%>;">
      <a href="/open-qoutes-user/<%=data.qoutes_id%>">
        <h1 style="color:<%=data.information.color%>;font-size:<%=data.information.font_size%>px;font-family:<%=data.information.font_family%>">
          <%=data.qoutes_value%>
        </h1>
      </a>
    </div>
    <% }else if(data.information.qoutes_type=="qoutes-coment-share" ) {%>
    <div class="qoutes-card" style="background-color:<%=data.information.bgcolor%>;border-radius:0px">

      <a href="/open-qoutes-user-share/<%=data.qoutes_id%>">
        <h1 style="color:<%=data.information.color%>;font-size:<%=data.information.font_size%>px;font-family:<%=data.information.font_family%>">
          <%=data.qoutes_value%>
        </h1>
      </a>
    </div>
    <%}%>


              <%})%>


  </div>


  <%}else if(page=='setting-page' ){%>
  <div class="user-information-bar">
    <div class="username-setting" id="user-sett">
      <button class="username-field" id="user-button" style="background-color:<%=user.style.bgcolor%>;color:<%=user.style.color%>">
        <%=user.username[0] %>
      </button>
      <form method='post' action='/username-change' class='search-form'>
        <input type="color" id="color-input" class="color-input" name="color" value="<%=user.style.color%>">
        <input type="color" id="bgcolor-input" class="color-input" name="bgcolor" value="<%=user.style.bgcolor%>">
        <input type='hidden' name='email_input' value='<%=user.email %>'>
        <input type='text' class='text-search' name='username_input' value='<%=user.username %>' placeholder='nama baru' style="background-color: #edeadf;color:orange">
        <button class='btn-search'>ok</button>
      </form>
    </div>
    <div class="user-information">
      <p>email : <%=user.email %>
      </p>
      <hr />
      <p>tanggal lahir : <%=user.bord%>
      </p>
      <hr />
      <p>usia : <%=user.age %>
      </p>
      <hr />
      <a href="/first-page/<%=user.email%>">
        <button class="btn-bar-option" style="margin-left:20px;color:orange;background-color: rgb(224, 215, 198);">kemabali</button>
      </a>
      <a href="/leo.com">
        <button class="btn-bar-option" style="margin-left:38.9%;color:red;background-color: rgb(233, 216, 216);">log-out</button>
      </a>

    </div>

  </div>



  <%}else if(page=='langganan' ){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/first-page/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <a href="/get-my-friend-list/<%=user.email %>">
        <button class="btn-user-bar">teman</button>
      </a>
      <input type="hidden" value="<%=user.email %>" id="user-address">
      <button onclick="get_search(
      {
        address:document.getElementById('user-address'),
        link:`/user-langganan/${document.getElementById('user-address').value}`,
        post:`/search-langganan`
    },
    {
        info:document.getElementById('user-info'),
         btn:document.getElementById('user-btn')
    }
    
          )" class="btn-user-bar">cari</button>
    </div>

  </div>

  <div class="friends-body-navigator">
    <div style="width:100%">
      <h3 style="color:orange">langganan (<%=langganan.length %>)</h3>
      <%langganan.forEach(data=>{%>
      <div class="user-card">
       <a href="/get-new-chat/<%=user.email %>/<%=data.email%>">
          <button class="username-field" style="width:50px;height:50px;font-size: 30px;
          background-color:orange;color:aliceblue">
            <%=data.user[0] %>
          </button>
        </a>
        <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
          <button class="btn-visitor" style="background-color: lightyellow;overflow-y: auto;"><%=user.username %></button>
        </a>
      </div>
      <%})%>
    </div>
  </div>
  <%}else if(page=='pelanggan' ){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/first-page/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <a href="/get-my-friend-list/<%=user.email %>">
        <button class="btn-user-bar">teman</button>
      </a>
      <input type="hidden" value="<%=user.email %>" id="user-address">
      <button onclick="get_search(
      {
        address:document.getElementById('user-address'),
        link:`/user-pelanggan/${document.getElementById('user-address').value}`,
        post:`/search-pelanggan`
    },
    {
        info:document.getElementById('user-info'),
         btn:document.getElementById('user-btn')
    }
    
          )" class="btn-user-bar">cari</button>
    </div>

  </div>
  <div class="friends-body-navigator">
    <div style="width:100%">
      <h3 style="color:orange">pelanggan (<%=pelanggan.length %>)</h3>
      <%pelanggan.forEach(data=>{%>
      <div class="user-card">
       <a href="/get-new-chat/<%=user.email %>/<%=data.email%>">
          <button class="username-field" style="width:50px;height:50px;font-size: 30px;
          background-color:orange;color:aliceblue">
            <%=data.user[0] %>
          </button>
        </a>
        <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
          <button class="btn-visitor" style="background-color: lightyellow;overflow-y: auto;"><%=user.username %></button>
        </a>
      </div>
      <%})%>
    </div>
  </div>

  <%}else if(page=='friends-list' ){%>
  <div class="user-bar">
    <div class="username-bar">
      <a href="/first-page/<%=user.email %>" id="user-btn">
        <button class="username-field" style="background-color: <%=user.style.bgcolor%>;color:<%=user.style.color%>">
          <%=user.username[0] %>
        </button>
      </a>
    </div>
    <div class="user-bar-information" id="user-info">
      <button class="btn-user-bar" style="background-color: none;">teman</button>
      <input type="hidden" value="<%=user.email %>" id="user-address">
      <button onclick="get_search(
    {
      address:document.getElementById('user-address'),
      link:`/get-my-friend-list/${document.getElementById('user-address').value}`,
      post:`/search-friends-list`
  },
  {
      info:document.getElementById('user-info'),
       btn:document.getElementById('user-btn')
  }
  
        )" class="btn-user-bar">cari</button>
    </div>

  </div>

  <div class="friends-body-navigator">
    <div>
      <a href="/user-langganan/<%=user.email%>">
        <h3 style="color:orange">langganan(<%=langganan.length %>)</h3>
      </a>
      <% langganan.forEach(data=> { %>
      <div class="user-card">
        <a href="/get-new-chat/<%=user.email %>/<%=data.email%>">
          <button class="username-field" style="width:50px;height:50px;font-size: 30px;
          background-color:orange;color:aliceblue">
            <%=data.user[0] %>
          </button>
        </a>
        <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
          <button class="btn-visitor" style="background-color: lightyellow;overflow-y: auto;"><%=user.username %></button>
        </a>
      </div>
      <% }) %>
    </div>
    <div>
      <a href="/user-pelanggan/<%=user.email%>">
        <h3 style="color:orange">pelanggan (<%=pelanggan.length %>)</h3>
      </a>
      <% pelanggan.forEach(data=> { %>
      <div class="user-card">
        <a href="/get-new-chat/<%=user.email %>/<%=data.email%>">
          <button class="username-field" style="width:50px;height:50px;font-size: 30px;
          background-color:orange;color:aliceblue">
            <%=data.user[0] %>
          </button>
        </a>
        <a href="/open-navigation/<%=user.email%>/<%=data.email%>">
          <button class="btn-visitor" style="background-color: lightyellow;overflow-y: auto;"><%=user.username %></button>
        </a>
      </div>
      <% }) %>
    </div>
  </div>

  <%}%>
<script type="text/javascript">
  const style_update = {
    input: {
                    color: document.getElementById('color-input'),
                    bgcolor: document.getElementById('bgcolor-input')
                  },
                  output: document.getElementById('user-button')
                }


                style_update.input.color.addEventListener('input', function () {
                  style_update.output.style.color = style_update.input.color.value
                })

                style_update.input.bgcolor.addEventListener('input', function () {
                  style_update.output.style.backgroundColor = style_update.input.bgcolor.value
                })


                function get_search(input, output) {
                  output.btn.setAttribute('href', input.link)
                  output.info.innerHTML =
                    `  <form method="post" action="${input.post}" class="search-form">
    <input type="hidden" name="user_email" value="${input.address.value}" />
    <input type="text" name="search_input" placeholder="cari apa"  class="text-search" />
    <button class="btn-search">cari</button>
  </form>
  
  
  `

                }






              </script>

</body>

</html>